<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>footer</title>
    <style>
        .footer {
            display: flex;
            justify-content: center;
            color: #2b3674;
            margin-top: auto;
        }
    </style>
</head>

<body>
    <footer class="footer" >
        <div class="py-3">Powered by <strong class="ml-1">EVOLUZN</strong></div>
    </footer>
</body>

</html>