<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Main Dashboard</title>
  <link href="../static/css/bootstrap.css" rel="stylesheet" />
  <link href="../static/css/main_dashboard_graph.css" rel="stylesheet" />

  <script src="../static/js/chart.js"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
  <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
    integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="../static/css/main_dashboard.css" />
  <link rel="stylesheet" href="../static/css/navbar_backup.css" />
  <link rel="stylesheet" href="../static/css/font.css" />
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels@2.0.0"></script>
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <script src="../static/js/socket.io.js"></script>


  <!-- ***********hibay graph end********** -->
  <style>
    #dateRangeContainer_hibay_light_graph {
      display: none;
      margin: 20px 0;
    }

    .timeSelect_css_hibay_light_graph,
    .timeSelect_button_css_hibay_light_graph {
      background-color: #DFE6FF;
      border-radius: 5px;
      color: #2b3674;
      font-weight: 600;
      border: none;
      padding-left: 10px;
      padding-right: 10px;
      padding-top: 5px;
      padding-bottom: 5px;
    }

    .startDateDisplay_css_hibay_light_graph,
    .endDateDisplay_css_hibay_light_graph {
      color: #2b3674;
      font-weight: 600;
    }

    .DateDisplay_css_hibay_light_graph_div {
      display: flex;
      flex-direction: row;
      gap: 20PX;
    }

    .timeSelect_main_div_css_hibay_light_graph {
      display: flex;
      gap: 20px;
    }
  </style>
  <!-- ************hibay graph end*************** -->
  <style>
    body {
      font-family: Arial, sans-serif;
      margin: 0;
      padding: 0;
      font-family: "DM Sans", sans-serif;

    }

    .container_running_light {
      width: 100%;
      margin: 0 auto;
      padding: 20px;
    }

    .timeframe_running_light {
      background-color: #DFE6FF;
      border-radius: 5px;
      color: #2b3674;
      font-weight: 600;
      border: none;
      padding-left: 10px;
      padding-right: 10px;
      padding-top: 5px;
      padding-bottom: 5px;


    }

    .metricselect_running_light {
      background-color: #DFE6FF;
      border-radius: 5px;
      color: #2b3674;
      font-weight: 600;
      border: none;
      padding-left: 10px;
      padding-right: 10px;
      padding-top: 5px;
      padding-bottom: 5px;

    }

    .setcustom_date_range_button_running_light {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #DFE6FF;
      border-radius: 5px;
      color: #2b3674;
      font-weight: 600;
      cursor: pointer;
      border: none;
      padding-left: 10px;
      padding-right: 10px;
      padding-top: 5px;
      padding-bottom: 5px;
    }


    .modal_running_light {
      display: none;
      /* Initially hidden */
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(151, 151, 151, 0.5);
      justify-content: center;
      align-items: center;
      padding: 10px;
      z-index: 999;
      /* Make sure it appears above other elements */
    }

    .modal_content {
      background: rgba(151, 151, 151, 0.5);
      padding: 20px;
      border-radius: 10px;
      box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    }

    .modal_content_running_light {
      background-color: #ffffff;
      padding: 30px;
      border-radius: 10px;
      border: 2px solid #2b3674;
    }

    .main_div_running_light {
      display: flex;
      flex-direction: row;
      gap: 20px;
      flex-wrap: wrap;
    }

    .any_time_timeframe_submit_running_light {
      background-color: #DFE6FF;
      border-radius: 5px;
      color: #2b3674;
      font-weight: 600;
      margin-top: 15px;
      border: none;

    }

    .any_time_timeframe_close_running_light {
      background-color: #eb2020;
      color: #ffffff;
      font-weight: 600;
      border: none;
      border-radius: 5px;
    }


    .startDate_label_running_light {
      color: #2b3674;
      font-weight: 500;
    }

    .endDate_label_running_light {
      color: #2b3674;
      font-weight: 500;
      padding-left: 8px;


    }

    .startDate_input_running_light {
      background-color: #DFE6FF;
      border-radius: 5px;
      color: #2b3674;
      font-weight: 500;
      border: none;

    }

    .endDate_input_running_light {
      background-color: #DFE6FF;
      border-radius: 5px;
      color: #2b3674;
      font-weight: 500;
      border: none;

    }

    .setdaterange_running_light {
      color: #2b3674;

    }

    .modal_div_running_light {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      gap: 15px;
      margin-top: 30px;
    }
  </style>

  <!-- ***************************************** -->
  <style>
    /* Additional styles for the duplicate graph if needed */
    #dateRangeContainer_office_light_graph {
      display: none;
      margin: 20px 0;
    }

    /* *****************************************  */
  </style>
</head>

<body>

  <div id="sidebar-placeholder">
    {% include 'navbar_backup.html' %}
  </div>
  <!-- MAIN CONTAINER -->

  <div class="main_content">
    <p>Welcome, {{ name }}!</p>
    <h4 class="main_main_heading">Main Dashboard</h4>
    <div class="main_alert_main_div">
      <div class="main_alert_main_div1" id="alerts-container">

      </div>
    </div>


    <!--running lights and machine oee stats -->

    <div class="p-3 row running_lights_master_switch_main">
      <div class="main_running_main p-3 col">
        <div class="row mt-2">
          <h7 class="main_running_title col">RUNNING LIGHTS<span style="font-size: 15px;">(48W)</span></h7>
          <div class="pr-3">
            <a class="main_running_lights_anchor col" href="#">></a>
          </div>
        </div>

        <div class="row mt-5">
          <div class="main_master_switch_div mt-2 col">
            <div class="row">
              <div class="col">
                <h6 class="main_master_switch_title">
                  Master-Switch <br />(ON/OFF)
                </h6>
                <label class="toggle">
                  <input type="checkbox" onclick="toggleCheckboxRunning('')" id="">
                  <span class="toggle_span"></span>
                </label>

              </div>
              <div class="col">
                <h6 class="main_master_switch_title">
                  Auto Brightness <br />(ON/OFF)
                </h6>

                <label class="toggle">
                  <input type="checkbox" onclick="AutobrightnessRunning('')" id="">
                  <span class="toggle_span"></span>
                </label>
              </div>
            </div>
          </div>

          <div class="col">
            <h6 class="main_master_switch_title">Total LIGHTS</h6>
            <div class="main_total_running_lights">{{ tube_count }}/6</div>
          </div>
        </div>

        <div class="row mt-4">
          <div class="col">
            <h6 class="main_master_switch_title">Control Lux</h6>
            <div>
              <input class="w-75 main_luxrange_running_light" id="" type="number" placeholder="Enter a number (0-1500)"
                oninput="RunningSendLuxValue(this)" onkeydown="RunningSendLuxValue(event, this)" />
              <div id="alertMessage_running_light_control_lux" style="color: #eb2020;"></div>
            </div>

            <div class="main_running_value_div text-center w-75">
              <span class="main_running_light_lux_value" id="rangeDisplayTube"></span><span class="ml-1">lux</span>
            </div>
          </div>
          <div class="col">
            <h6 class="main_master_switch_title">Power Consumption</h6>
            <div class="main_running_light_power_consumption"> <span id="result1">
                <span class="ml-1 main_t_p_c_kwh">Wh</span></span>
            </div>
          </div>
        </div>
      </div>
      <!-- *************sarang lohe*************** -->

      <div class="col-lg main_power_consumption_graph_div">
        <div class=" mt-4">
          <div class="">
            <h7 id="officeChartTitle" class="main_running_title">RUNNING LIGHT POWER CONSUMPTION</h7>
          </div>
          <div class="timeSelect_graphSelect_css_running_light_graph">
            <button type='button' onclick="downloadFile('graphSelect_running_light_graph')" class="download_button"><img
                src="../static/img/excel_icon.png" alt="" class="download_image"></button>
            <select id="timeSelect_running_light_graph" class="timeSelect_css_running_light_graph">
              <option value="daily">Today</option>
              <option value="set-date-running">Set Date</option>
            </select>

            <select id="graphSelect_running_light_graph" class="timeSelect_css_running_light_graph">
              <option value="power-consumption">Power Consumption</option>
              <option value="power-saving">Power Saving</option>
              <option value="active-run-time">Active Run Time</option>
            </select>

          </div>

          <div>
            <div class="dateRangeContainer_dispalyDate_running_light_graph">
              <div id="dateRangeContainer_running_light_graph" class="dateRangeContainer_css_running_light_graph">
                <label for="dateRange_running_light_graph" class="dateRange_title_running_light_graph">Select Date
                  Range:</label>
                <input id="dateRange_running_light_graph" type="text" placeholder="Select Date Range"
                  class="timeSelect_css_running_light_graph">
                <select id="daySelect_running_light_graph" class="timeSelect_css_running_light_graph">
                  <option value="all">All Days</option>
                  <option value="6">Sunday</option>
                  <option value="0">Monday</option>
                  <option value="1">Tuesday</option>
                  <option value="2">Wednesday</option>
                  <option value="3">Thursday</option>
                  <option value="4">Friday</option>
                  <option value="5">Saturday</option>
                </select>
                <button id="applyDateRange_running_light_graph"
                  class="timeSelect_button_css_running_light_graph">Apply</button>
              </div>

              <div class="DateDisplay_css_running_light_graph_div" id="DateDisplay_css_running_light_graph_div">
                <div id="startDateDisplay_running_light_graph" class="startDateDisplay_css_running_light_graph">
                  <!-- Start Date -->
                </div>
                <div id="endDateDisplay_running_light_graph" class="endDateDisplay_css_running_light_graph">
                  <!-- End Date -->
                </div>
              </div>
            </div>
          </div>


          <div>
            <div class="active_run_idle_time_running_light_graph">
              <h6 class="main_master_switch_title ">Power Savings :<span id="active_tube"></span></h6>
              <!-- <h6 class="main_master_switch_title ">Idle Time :<span id="ideal">87678</span></h6> -->
            </div>
          </div>

        </div>
        <!-- ********* -->
        <div>
          <div class="main_power_consumption_graph_div">
            <div class="main_canvas_wrapper">
              <canvas id="myChart_running_light_graph" class="main_power_consumption_graph_main_div"></canvas>
            </div>
          </div>
        </div>
      </div>
      <!-- *************sarang lohe*************** -->
    </div>

    <!--running lights and machine oee stats -->



    <div class="p-3 row main_office_light_main">
      <div class="main_running_main p-3 col">
        <div class="row mt-2">
          <h7 class="main_running_title col">OFFICE LIGHTS<span style="font-size: 15px;">(48W)</span></h7>
          <div class="pr-3">
          </div>
        </div>
        <div class="row mt-3">
          <div class="col main_master_switch_div mt-2">
            <div class="row">
              <div class="col">
                <h6 class="main_master_switch_title">Master-Switch (ON/OFF)</h6>
                <label class="toggle">
                  <input type="checkbox" onclick="toggleCheckboxOffice('')" id="">
                  <span class="toggle_span"></span>
                </label>
              </div>
              <div class="col">
                <h6 class="main_master_switch_title">
                  Auto Brightness <br />(ON/OFF)
                </h6>
                <label class="toggle">
                  <input type="checkbox" onclick="toggleCheckboxBrightnessOffice('')" id="">
                  <span class="toggle_span"></span>
                </label>
              </div>
            </div>

          </div>

          <div class="col">
            <h6 class="main_master_switch_title">Total LIGHTS</h6>
            <div class="main_total_running_lights"></div>
          </div>
        </div>

        <div class="row mt-5">
          <div class="col">
            <h6 class="main_master_switch_title">Control All Intensity</h6>
            <div>
              <input class="w-75 main_luxrange_office_light" id="" type="number" placeholder="Enter a number (0-100)"
                oninput="officeSendLuxValue(this)" onkeydown="OfficehandleEnterKey(event, this)" />
              <div id="alertMessage_office_light_control_intensity" style="color: #eb2020;"></div>
            </div>

            <div class="main_office_light_lux_value_div text-center w-75">
              <span class="main_office_light_lux_value" id="rangeDisplayOffice">0</span><span class="ml-1">%</span>

            </div>
          </div>
          <div class="col">
            <h6 class="main_master_switch_title">Power Consumption</h6>
            <div class="main_office_light_power_consumption"><span id="result4">
                <span class="ml-1 main_t_p_c_kwh">Wh</span></span>
            </div>
          </div>
        </div>
      </div>

      <!-- ********************************************************* -->

      <div class="col-lg main_power_consumption_graph_div">
        <div class=" mt-4">
          <div class="">
            <h7 id="officeChartTitle" class="main_running_title">OFFICE LIGHT POWER CONSUMPTION </h7>
          </div>
          <div class="timeSelect_graphSelect_css_office_light_graph">
            <button type='button' onclick="downloadFile('graphSelect_office_light_graph')" class="download_button"><img
                src="../static/img/excel_icon.png" alt="" class="download_image"></button>
            <select id="timeSelect_office_light_graph" class="timeSelect_css_office_light_graph">
              <option value="daily">Today</option>
              <option value="set-date">Set Date</option>
            </select>

            <select id="graphSelect_office_light_graph" class="timeSelect_css_office_light_graph">
              <option value="power-consumption">Power Consumption</option>
              <option value="power-saving">Power Saving</option>
              <option value="active-run-time">Active Run Time</option>
            </select>
          </div>
          <div>
            <div class="dateRangeContainer_dispalyDate_office_light_graph">
              <div id="dateRangeContainer_office_light_graph" class="dateRangeContainer_css_office_light_graph">
                <label for="dateRange_office_light_graph" class="dateRange_title_office_light_graph">Select Date
                  Range:</label>
                <input id="dateRange_office_light_graph" type="text" placeholder="Select Date Range"
                  class="timeSelect_css_office_light_graph">
                <select id="daySelect_office_light_graph" class="timeSelect_css_running_light_graph">
                  <option value="all">All Days</option>
                  <option value="6">Sunday</option>
                  <option value="0">Monday</option>
                  <option value="1">Tuesday</option>
                  <option value="2">Wednesday</option>
                  <option value="3">Thursday</option>
                  <option value="4">Friday</option>
                  <option value="5">Saturday</option>
                </select>
                <button id="applyDateRange_office_light_graph"
                  class="timeSelect_button_css_office_light_graph">Apply</button>
              </div>

              <div class="DateDisplay_css_office_light_graph_div" id="DateDisplay_css_office_light_graph_div">
                <div id="startDateDisplay_office_light_graph" class="startDateDisplay_css_office_light_graph">
                  <!-- Start Date -->
                </div>
                <div id="endDateDisplay_office_light_graph" class="endDateDisplay_css_office_light_graph">
                  <!-- End Date -->
                </div>
              </div>
            </div>
          </div>
          <div>
            <div class="active_run_idle_time_office_light_graph">
              <h6 class="main_master_switch_title ">Power Savings :<span id="active_office"></span></h6>
              <!-- <h6 class="main_master_switch_title ">Idle Time :<span id="ideal">87678</span></h6> -->
            </div>
          </div>


        </div>

        <!-- ********* -->
        <div>
          <div class="main_power_consumption_graph_div">
            <div class="main_canvas_wrapper">
              <canvas id="myChart_office_light_graph" class="main_power_consumption_graph_main_div"></canvas>
            </div>
          </div>
        </div>

      </div>
      <!-- ********************************************************* -->
    </div>




    <!-- **********hi bay lights start************ -->

    <div class="p-3 running_lights_master_switch_main row">
      <div class="highbay_lights_main p-3 col">
        <div class="row mt-2">
          <h7 class="col main_running_title">HI-BAY LIGHTS<span style="font-size: 15px;">(100W)</span></h7>
          <div class="pr-3">

          </div>
        </div>

        <div class="row mt-5">
          <div class="col main_master_switch_div mt-3">
            <div class="row">
              <div class="col">
                <h6 class="main_master_switch_title">Master-Switch (ON/OFF)</h6>
                <label class="toggle">
                  <input type="checkbox" onclick="toggleCheckboxHigh('')" id="">
                  <span class="toggle_span"></span>
                </label>
              </div>

            </div>

          </div>

          <div class="col">
            <h6 class="main_master_switch_title">Total LIGHTS</h6>
            <div class="main_total_running_lights">{{ device_ids | length }}/1</div>

          </div>
        </div>

        <div class="row mt-5">
          <div class="col">
            <h6 class="main_master_switch_title">
              Auto Motion (ON/OFF)
            </h6>
            <label class="toggle">
              <input type="checkbox" onclick="autoMotionDetectionHigh('')" id="">
              <span class="toggle_span"></span>
            </label>
          </div>

          <div class="col">
            <h6 class="main_master_switch_title">Power Consumption</h6>
            <div class="main_running_highbay_power_consumption"><span id="result3">0
                <span class="ml-1 main_t_p_c_kwh">Wh</span></span>
            </div>
          </div>
        </div>
      </div>
      <!-- ******************sarang lohe*************** -->
      <div class="col-lg main_power_consumption_graph_div">
        <div class=" mt-4">
          <div class="">
            <h7 id="officeChartTitle" class="main_running_title">HIGHBAY LIGHT POWER CONSUMPTION </h7>
          </div>
          <div class="timeSelect_graphSelect_css_hibay_light_graph">
            <button type='button' onclick="downloadFile('graphSelect_hibay_light_graph')" class="download_button"><img
                src="../static/img/excel_icon.png" alt="" class="download_image"></button>

            <select id="timeSelect_hibay_light_graph" class="timeSelect_css_hibay_light_graph">
              <option value="daily">Today</option>
              <option value="set-date">Set Date</option>
            </select>

            <select id="graphSelect_hibay_light_graph" class="timeSelect_css_hibay_light_graph">
              <option value="power-consumption">Power Consumption</option>
              <option value="power-saving">Power Saving</option>
              <option value="active-run-time">Active Run Time</option>
            </select>
          </div>

          <div>
            <div class="dateRangeContainer_dispalyDate_hibay_light_graph">
              <div id="dateRangeContainer_hibay_light_graph" class="dateRangeContainer_css_hibay_light_graph">
                <label for="dateRange_hibay_light_graph" class="dateRange_title_hibay_light_graph">Select Date
                  Range:</label>
                <input id="dateRange_hibay_light_graph" type="text" placeholder="Select Date Range"
                  class="timeSelect_css_hibay_light_graph">
                <select id="daySelect_hibay_light_graph" class="timeSelect_css_running_light_graph">
                  <option value="all">All Days</option>
                  <option value="6">Sunday</option>
                  <option value="0">Monday</option>
                  <option value="1">Tuesday</option>
                  <option value="2">Wednesday</option>
                  <option value="3">Thursday</option>
                  <option value="4">Friday</option>
                  <option value="5">Saturday</option>
                </select>
                <button id="applyDateRange_hibay_light_graph"
                  class="timeSelect_button_css_hibay_light_graph">Apply</button>
              </div>

              <div class="DateDisplay_css_hibay_light_graph_div" id="DateDisplay_css_hibay_light_graph_div">
                <div id="startDateDisplay_hibay_light_graph" class="startDateDisplay_css_hibay_light_graph">
                  <!-- Start Date -->
                </div>
                <div id="endDateDisplay_hibay_light_graph" class="endDateDisplay_css_hibay_light_graph">
                  <!-- End Date -->
                </div>
              </div>
            </div>
          </div>

          <div>
            <div class="active_run_idle_time_hibay_light_graph">
              <h6 class="main_master_switch_title ">Power Savings :<span id="active_hibay"></span></h6>
              <!-- <h6 class="main_master_switch_title ">Idle Time :<span id="ideal">87678</span></h6> -->
            </div>
          </div>

        </div>
        <!-- ********* -->
        <div>
          <div class="main_power_consumption_graph_div">
            <div class="main_canvas_wrapper">
              <canvas id="myChart_hibay_light_graph" class="main_power_consumption_graph_main_div"></canvas>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- *******oee stats******* -->
    <div class="row mt-3 p-3 main_oee_daily_parent_div">
      <!-- ******************sarang lohe*************** -->

      <div class="col-lg main_power_consumption_graph_div">
        <div class=" mt-4">
          <div class="">
            <h7 id="officeChartTitle" class="main_running_title">MACHINE OEE STATS POWER CONSUMPTION </h7>
          </div>

          <div class="timeSelect_graphSelect_css_machine_oee_stats">
            <button type='button' onclick="downloadFile('graphSelect_machine_oee_stats')" class="download_button"><img
                src="../static/img/excel_icon.png" alt="" class="download_image"></button>

            <select id="timeSelect_machine_oee_stats" class="timeSelect_css_machine_oee_stats">
              <option value="daily">Today</option>
              <option value="set-date">Set Date</option>
            </select>

            <select id="graphSelect_machine_oee_stats" class="timeSelect_css_machine_oee_stats">
              <option value="power-consumption">Power Consumption</option>
              <!-- <option value="power-saving">Power Saving</option> -->
              <option value="active-run-time">Active Run Time</option>
            </select>
          </div>

          <div>
            <div class="dateRangeContainer_dispalyDate_machine_oee_stats">
              <div id="dateRangeContainer_machine_oee_stats" class="dateRangeContainer_css_machine_oee_stats">
                <label for="dateRange_machine_oee_stats" class="dateRange_title_machine_oee_stats">Select Date
                  Range:</label>
                <input id="dateRange_machine_oee_stats" type="text" placeholder="Select Date Range"
                  class="timeSelect_css_machine_oee_stats">
                <select id="daySelect_oee_light_graph" class="timeSelect_css_running_light_graph">
                  <option value="all">All Days</option>
                  <option value="6">Sunday</option>
                  <option value="0">Monday</option>
                  <option value="1">Tuesday</option>
                  <option value="2">Wednesday</option>
                  <option value="3">Thursday</option>
                  <option value="4">Friday</option>
                  <option value="5">Saturday</option>
                </select>
                <button id="applyDateRange_machine_oee_stats"
                  class="timeSelect_button_css_machine_oee_stats">Apply</button>
              </div>

              <div class="DateDisplay_css_machine_oee_stats_div" id="DateDisplay_css_machine_oee_stats_div">
                <div id="startDateDisplay_machine_oee_stats" class="startDateDisplay_css_machine_oee_stats">
                  <!-- Start Date -->
                </div>
                <div id="endDateDisplay_machine_oee_stats" class="endDateDisplay_css_machine_oee_stats">
                  <!-- End Date -->
                </div>
              </div>
            </div>
          </div>


          <div>
            <div class="active_run_idle_time_machine_oee_stats">
              <h6 class="main_master_switch_title ">Active Run Time :<span id="active"></span></h6>
              <h6 class="main_master_switch_title ">Idle Time :<span id="ideal"></span></h6>
            </div>
          </div>

        </div>
        <!-- ********* -->
        <div>
          <div class="main_power_consumption_graph_div">
            <div class="main_canvas_wrapper">
              <canvas id="myChart_machine_oee_stats" class="main_power_consumption_graph_main_div"></canvas>
            </div>
          </div>
        </div>
      </div>

      <!-- ******************sarang lohe*************** -->
      <div class="col-lg main_power_consumption_graph_div">
        <div class=" mt-4">
          <div class="">
            <h7 id="officeChartTitle" class="main_running_title">ALL DEVICE POWER CONSUMPTION </h7>
          </div>

          <div class="timeSelect_graphSelect_css_all_device_power_consumption_graph">
            <button type='button' onclick="downloadFile('graphSelect_all_device_power_consumption_graph')"
              class="download_button"><img src="../static/img/excel_icon.png" alt="" class="download_image"></button>

            <select id="timeSelect_all_device_power_consumption_graph"
              class="timeSelect_css_all_device_power_consumption_graph">
              <option value="daily">Today</option>
              <option value="set-date">Set Date</option>
            </select>

            <select id="graphSelect_all_device_power_consumption_graph"
              class="timeSelect_css_all_device_power_consumption_graph">
              <option value="power-consumption">Power Consumption</option>
              <!-- <option value="power-saving">Power Saving</option> -->
              <!-- <option value="active-run-time">Active Run Time</option> -->
            </select>
          </div>

          <div>
            <div class="dateRangeContainer_dispalyDate_all_device_power_consumption_graph">
              <div id="dateRangeContainer_all_device_power_consumption_graph"
                class="dateRangeContainer_css_all_device_power_consumption_graph">
                <label for="dateRange_all_device_power_consumption_graph"
                  class="dateRange_title_all_device_power_consumption_graph">Select Date Range:</label>
                <input id="dateRange_all_device_power_consumption_graph" type="text" placeholder="Select Date Range"
                  class="timeSelect_css_all_device_power_consumption_graph">
                <select id="daySelect_all_light_graph" class="timeSelect_css_running_light_graph">
                  <option value="all">All Days</option>
                  <option value="6">Sunday</option>
                  <option value="0">Monday</option>
                  <option value="1">Tuesday</option>
                  <option value="2">Wednesday</option>
                  <option value="3">Thursday</option>
                  <option value="4">Friday</option>
                  <option value="5">Saturday</option>
                </select>
                <button id="applyDateRange_all_device_power_consumption_graph"
                  class="timeSelect_button_css_all_device_power_consumption_graph">Apply</button>
              </div>

              <div class="DateDisplay_css_all_device_power_consumption_graph_div"
                id="DateDisplay_css_all_device_power_consumption_graph_div">
                <div id="startDateDisplay_all_device_power_consumption_graph"
                  class="startDateDisplay_css_all_device_power_consumption_graph">

                  <!-- Start Date -->
                </div>
                <div id="endDateDisplay_all_device_power_consumption_graph"
                  class="endDateDisplay_css_all_device_power_consumption_graph">
                  <!-- End Date -->
                </div>
              </div>
            </div>
          </div>


          <div>
            <div class="active_run_idle_time_all_device_power_consumption_graph">
              <!-- <h6 class="main_master_switch_title ">Active Run Time :<span id="active"></span></h6> -->
              <!-- <h6 class="main_master_switch_title ">Idle Time :<span id="ideal">87678</span></h6> -->
            </div>
          </div>

        </div>
        <!-- ********* -->
        <div>
          <div class="main_power_consumption_graph_div">
            <div class="main_canvas_wrapper">
              <canvas id="myChart_all_device_power_consumption_graph"
                class="main_power_consumption_graph_main_div"></canvas>
            </div>
          </div>
        </div>
      </div>

    </div>


    <!-- **********AC graph start************** -->
    <div class="row mt-3 p-3 main_ac_daily_parent_div">

      <!-- **********threephase start****************************** -->

      <div class="col-lg main_power_consumption_graph_div mr-3">
        <div class="row mt-4">
          <h7 class="main_running_title px-3">THREE PHASE METER POWER CONSUMPTION</h7>
        </div>
        <div class="timeSelect_graphSelect_css_threephase_device_graph">
          <button type='button' onclick="downloadFile('graphSelect_threephase_device_graph')"
            class="download_button"><img src="../static/img/excel_icon.png" alt="" class="download_image"></button>
          <select id="timeSelect_threephase_device_graph" class="timeSelect_css_threephase_device_graph">
            <option value="daily">Today</option>
            <option value="set-date">Set Date</option>
          </select>

          <select id="graphSelect_threephase_device_graph" class="timeSelect_css_threephase_device_graph">
            <option value="power-consumption">Power Consumption</option>
            <!-- <option value="power-saving">Power Saving</option>
           <option value="active-run-time">Active Run Time</option> -->
          </select>
        </div>

        <div>
          <div class="dateRangeContainer_dispalyDate_threephase_device_graph">
            <div id="dateRangeContainer_threephase_device_graph" class="dateRangeContainer_css_threephase_device_graph">
              <label for="dateRange_threephase_device_graph" class="dateRange_title_threephase_device_graph">Select Date
                Range:</label>
              <input id="dateRange_threephase_device_graph" type="text" placeholder="Select Date Range"
                class="timeSelect_css_threephase_device_graph">
              <select id="daySelect_threephase_light_graph" class="timeSelect_css_running_light_graph">
                <option value="all">All Days</option>
                <option value="6">Sunday</option>
                <option value="0">Monday</option>
                <option value="1">Tuesday</option>
                <option value="2">Wednesday</option>
                <option value="3">Thursday</option>
                <option value="4">Friday</option>
                <option value="5">Saturday</option>
              </select>
              <button id="applyDateRange_threephase_device_graph"
                class="timeSelect_button_css_threephase_device_graph">Apply</button>
            </div>

            <div class="DateDisplay_css_threephase_device_graph_div" id="DateDisplay_css_threephase_device_graph_div">
              <div id="startDateDisplay_threephase_device_graph" class="startDateDisplay_css_threephase_device_graph">
                <!-- Start Date -->
              </div>
              <div id="endDateDisplay_threephase_device_graph" class="endDateDisplay_css_threephase_device_graph">
                <!-- End Date -->
              </div>
            </div>
          </div>
        </div>

        <div>
          <div class="active_run_idle_time_threephase_device_graph">
            <!-- <h6 class="main_master_switch_title ">Active Run Time :<span id="active_ac"></span></h6> -->
            <!-- <h6 class="main_master_switch_title ">Idle Time :<span id="ideal">87678</span></h6> -->
          </div>
        </div>
        <div class="three_phase_meter_power_consumption_value">
          <div>Power Consumption :</div>
          <div>
            <span class="ml-1" id="threephase"></span>
          </div>
        </div>
        <div>
          <div class="main_power_consumption_graph_div">
            <div class="main_canvas_wrapper">
              <canvas id="myChart_threephase_device_graph" class="main_power_consumption_graph_main_div"></canvas>
            </div>
          </div>
        </div>

      </div>

      <!-- **********threephase end****************************** -->



      <div class="col-lg main_power_consumption_graph_div">
        <div class="row mt-4">
          <h7 class="main_running_title px-3">AIR CONDITIONER POWER CONSUMPTION</h7>
        </div>
        <!-- <h6 class="main_master_switch_title">Active Run Time :<span id="active_all"></span></h6> -->
        <!-- ************************** -->
        <div>
          <div class="timeSelect_graphSelect_css_ac_device_graph">
            <button type='button' onclick="downloadFile('graphSelect_ac_device_graph')" class="download_button"><img
                src="../static/img/excel_icon.png" alt="" class="download_image"></button>

            <select id="timeSelect_ac_device_graph" class="timeSelect_css_ac_device_graph">
              <option value="daily">Today</option>
              <option value="set-date">Set Date</option>
            </select>

            <select id="graphSelect_ac_device_graph" class="timeSelect_css_ac_device_graph">
              <option value="power-consumption">Power Consumption</option>
              <!-- <option value="power-saving">Power Saving</option>
           <option value="active-run-time">Active Run Time</option> -->
            </select>
          </div>

          <div>
            <div class="dateRangeContainer_dispalyDate_ac_device_graph">
              <div id="dateRangeContainer_ac_device_graph" class="dateRangeContainer_css_ac_device_graph">
                <label for="dateRange_ac_device_graph" class="dateRange_title_ac_device_graph">Select Date
                  Range:</label>
                <input id="dateRange_ac_device_graph" type="text" placeholder="Select Date Range"
                  class="timeSelect_css_ac_device_graph">
                <select id="daySelect_ac_light_graph" class="timeSelect_css_running_light_graph">
                  <option value="all">All Days</option>
                  <option value="6">Sunday</option>
                  <option value="0">Monday</option>
                  <option value="1">Tuesday</option>
                  <option value="2">Wednesday</option>
                  <option value="3">Thursday</option>
                  <option value="4">Friday</option>
                  <option value="5">Saturday</option>
                </select>
                <button id="applyDateRange_ac_device_graph" class="timeSelect_button_css_ac_device_graph">Apply</button>
              </div>

              <div class="DateDisplay_css_ac_device_graph_div" id="DateDisplay_css_ac_device_graph_div">
                <div id="startDateDisplay_ac_device_graph" class="startDateDisplay_css_ac_device_graph">
                  <!-- Start Date -->
                </div>
                <div id="endDateDisplay_ac_device_graph" class="endDateDisplay_css_ac_device_graph">
                  <!-- End Date -->
                </div>
              </div>
            </div>
          </div>

          <div>
            <div class="active_run_idle_time_ac_device_graph">
              <!-- <h6 class="main_master_switch_title ">Active Run Time :<span id="active_ac"></span></h6> -->
              <!-- <h6 class="main_master_switch_title ">Idle Time :<span id="ideal">87678</span></h6> -->
            </div>
          </div>

        </div>
        <!-- **************************** -->
        <div>
          <div class="main_power_consumption_graph_div">
            <div class="main_canvas_wrapper">
              <canvas id="myChart_ac_device_graph" class="main_power_consumption_graph_main_div"></canvas>
            </div>
          </div>
        </div>
      </div>

    </div>

    <div class="row p-3 mt-3 main_ac_parent_div">

      <div class="col main_ac_child_div">
        <h7 class="mt-4 main_highbay_box_title">AIR</h7>
        <h7 class="main_highbay_box_title">CONDITIONER</h7>


        <div class="main_ac_img_div">
          <span class="main_sc_img_span" id="plugF0BF01/control" onclick="SmartPlug('plugF0BF01/control')">
            <i class="fa-solid fa-power-off fa-fw main_ac_icon" id='main_ac_icon'></i>
          </span>
        </div>
        <div class="main_on_off_div">
          <div class="main_on_off_text" id="main_on_off_text"></div>
          <span id="result" class="main_highbay_box_power_value"></span>
        </div>
      </div>

      <!-- AIR CONDITIONER end -->

      <!-- SMART SMOKE DETECTOR start -->

      <div class="col main_ac_child_div">
        <h7 class="mt-4 main_highbay_box_title">SMART SMOKE</h7>
        <h7 class="main_highbay_box_title">DETECTOR</h7>

        <div class="main_s_m_img_div">
          <img src="../static/img/SMART_SMOKE_DETECTOR.png" />
        </div>
        <div class="main_s_s_value">{{ device_ids | length }}/1</div>
      </div>

      <!-- SMART SMOKE DETECTOR end -->

      <!-- TOTAL POWER CONSUMPTION start -->
      <div class="col main_ac_child_div">
        <h7 class="mt-4 main_highbay_box_title">TOTAL POWER CONSUMPTION</h7>
        <div class="mt-3 total_power_consumption_main_div1">

          <div class="total_saving_new">
            <div class="total_pc_values">
              <select id="lightSelect_total_power_consumption" class="form-select pc_dropdown border-0">
                <option value="Total_Power">Total</option>
                <option value="Running_Lights_total_power_consumption">Running Lights</option>
                <option value="Highbay_Lights_total_power_consumption">Highbay Lights</option>
                <option value="Office_Lights_total_power_consumption">Office Lights</option>
                <option value="AC_total_power_consumption">AC</option>
              </select>
            </div>
          </div>

          <div class=" total_saving_new">
            <div class="total_pc_values">
              <select id="timeSelect_total_power_consumption" class="form-select pc_dropdown border-0">
                <option value="today_total_power_consumption">Today</option>
                <option value="set_date_total_power_consumption">Set Date</option>
              </select>
            </div>
          </div>

        </div>

        <div>
          <div id="datePicker_total_power_consumption" class="mt-3" style="display: none;">
            <label for="dateRange_total_power_consumption" class="select_date_range_saving_values">Select Date
              Range:</label>
            <input id="dateRange_total_power_consumption" type="text" placeholder="Select Date Range"
              class="pc_dropdown">
            <button id="applyButton_total_power_consumption" class="pc_dropdown mt-2 ">Apply</button>
          </div>
        </div>

        <div class="main_t_p_c_img_div">
          <img src="../static/img/TOTAL_POWER_CONSUMPTION.png" />
        </div>
        <BR></BR>

        <div class="main_t_p_c_value" id="valueDisplay_total_power_consumption"></div>
      </div>
      <!-- TOTAL POWER CONSUMPTION end -->

      <!-- TOTAL SAVINGS start -->
      <div class="col main_ac_child_div">
        <h7 class="mt-4 main_highbay_box_title">
          <span class="total">TOTAL</span>
          <span class="saving">&nbsp;SAVING</span>
        </h7>



        <div class="mt-3 total_power_consumption_main_div1">
          <div class=" total_saving_new">
            <div class="total_pc_values">
              <select id="lightSelect_total_saving_values" class="form-select pc_dropdown border-0">
                <option value="total_saving_values">Total</option>
                <option value="running_lights_total_saving_values">Running Lights</option>
                <option value="highbay_lights_total_saving_values">Highbay Lights</option>
                <option value="office_lights_total_saving_values">Office Lights</option>
                <!-- <option value="ac_total_saving_values">AC</option> -->
              </select>
            </div>
          </div>

          <div class=" total_saving_new">
            <div class="total_pc_values">
              <select id="timeSelect_total_saving_values" class="form-select pc_dropdown border-0">
                <option value="today_total_saving_values">Today</option>
                <option value="set_date_total_saving_values">Set Date</option>
              </select>
            </div>
          </div>
        </div>

        <div id="datePicker_total_saving_values" class="mt-3" style="display: none;">
          <label for="dateRange_total_saving_values" class="select_date_range_saving_values">Select Date Range:</label>
          <input class="pc_dropdown" id="dateRange_total_saving_values" type="text" placeholder="Select Date Range">
          <button id="applyButton_total_saving_values" class="pc_dropdown mt-2">Apply</button>
        </div>

        <div class="main_t_s_img">
          <img src="../static/img/TOTAL_SAVINGS.png" />
        </div>
        <BR></BR>

        <div class="main_t_p_c_value" id="valueDisplay_total_saving_values"></div>

        <span class="main_total_saving_value" id="saving">-
          <span class="ml-1 mt-2 main_total_saving_text">Rs</span>
        </span>
      </div>

      <!-- ***************sarang lohe TOTAL SAVINGS*************************** -->














    </div>
  </div>
  <!-- **********AC graph end************** -->











  <!-- MAIN CONTAINER END -->

  <!-- FOOTER START -->

  <footer class="footer">
    <div class="py-3">Powered by <strong class="ml-1">EVOLUZN</strong></div>
  </footer>
  <!-- FOOTER START -->

  <script src="../static/js/main_dashboard.js"></script>

  <script src="../static/js/jquery.js"></script>
  <script src="../static/js/main.js"></script>
  <script src="../static/js/bootstrap.min.js"></script>
  <!-- <script src="../static/js/socket_new.js"></script> -->
  <!-- <script type="module" src="../static/js/test_amit.js"></script> -->
  <script type="module" src="../static/js/socket.js"></script>
  <!-- <script src="../static/js/main_master_switch.js"></script>
  <script src="../static/js/running_light.js"></script> -->
  <script src="../static/js/socket1.js"></script>

  <!-- Prajwal -->
  <!-- <script src="../static/js/chart_hammer.js"></script>
      <script src="../static/js/chart_zoom.js"></script> -->


  <!-- <script src="../static/js/main_dashboard_graph.js"></script> -->


</body>