<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Navbar</title>
  <link rel="stylesheet" href="../static/css/navbar_backup.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
    integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <style>
    .loader-overlay {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(255, 255, 255, 0.9);
      display: flex;
      justify-content: center;
      align-items: center;
      z-index: 3000;
    }

    .loader {
      width: 50px;
      height: 50px;
      border: 6px solid #ddd;
      border-top-color: #4c6ef5;
      border-radius: 50%;
      animation: spin 0.8s linear infinite;
    }

    @keyframes spin {
      to {
        transform: rotate(360deg);
      }
    }
  </style>
</head>

<body>
  <div class="sidebar">

    <div id="page-loader" class="loader-overlay">
      <div class="loader"></div>
    </div>

    <!-- Sidebar -->
    <aside class="main_sidebar" id="sidebar">
      <span class="sidebar-close-btn" onclick="toggleSidebar()">x</span>

      <a class="sidebar-link {% if active_page == 'home' %}active{% endif %}" href="/home">
        <div class="sidebar_dashboard_icon">
          <i class="fa-solid fa-layer-group"></i>
        </div>
        <div class="sidebar_dashboard_title dashboard_title_dashboard">
          Dashboard
        </div>
      </a>

      {% if 'Running Light' in products %}
      <a class="sidebar-link {% if active_page == 'running_light' %}active{% endif %}" href="/running_light">
        <div class="sidebar_dashboard_icon">
          <i class="fa-solid fa-grip-lines"></i>
        </div>
        <div class="sidebar_dashboard_title dashboard_title_dashboard">
          Running Light
        </div>
      </a>
      {% endif %}

      {% if 'Office Light' in products %}
      <a class="sidebar-link {% if active_page == 'office_light' %}active{% endif %}" href="/office_light">
        <div class="sidebar_dashboard_icon">
          <i class="fa-solid fa-grip-lines"></i>
        </div>
        <div class="sidebar_dashboard_title dashboard_title_dashboard">
          Office Light
        </div>
      </a>
      {% endif %}

      {% if 'Highbay Light' in products %}
      <a class="sidebar-link {% if active_page == 'hi_bay_light' %}active{% endif %}" href="/">
        <div class="sidebar_dashboard_icon">
          <i class="fa-solid fa-lightbulb"></i>
        </div>
        <div class="sidebar_dashboard_title dashboard_title_dashboard">
          Highbay Light
        </div>
      </a>
      {% endif %}

      {% if 'Running Light' in products 
      or 'Office Light' in products 
      or 'Highbay Light' in products %}
      <a class="sidebar-link {% if active_page == 'deviceScheduling' %}active{% endif %}" href="/">
        <div class="sidebar_dashboard_icon">
          <i class="fa-solid fa-clock"></i>
        </div>
        <div class="sidebar_dashboard_title dashboard_title_dashboard">
          Scheduling
        </div>
      </a>
      {% endif %}

      {% if 'Wiretempsync' in products %}
      <a class="sidebar-link {% if active_page == 'temperature' %}active{% endif %}" href="/wtstempsync">
        <div class="sidebar_dashboard_icon">
          <i class="fa-solid fa-temperature-half" style="font-size: 25px;"></i>
        </div>
        <div class="sidebar_dashboard_title dashboard_title_dashboard" style="display: flex; justify-content: center;">
          WTS
        </div>
      </a>
      {% endif %}

      {% if 'BTB4Channel' in products %}
      <a class="sidebar-link {% if active_page == 'temperature' %}active{% endif %}" href="/btb4channel">
        <div class="sidebar_dashboard_icon">
          <i class="fa-solid fa-temperature-half" style="font-size: 25px;"></i>
        </div>
        <div class="sidebar_dashboard_title dashboard_title_dashboard" style="display: flex; justify-content: center;">
          BTB 4Channel
        </div>
      </a>
      {% endif %}

    </aside>
    <div class="px-2">
      <hr class="sidebar_hr">
      <div class="dashboard_dropdown_main_div">
        <div onclick="toggledashboard()" class="setting_bar_icon">
          <div class="d-flex flex-column gap-2 align-items-center">
            <img class="dashboard_btn" src="../static/img/settings.svg">
            <div class="dashboard_btn sidebar_dashboard_title">Settings</div>
          </div>
        </div>

      </div>
    </div>

  </div>

  <div id="dashboard-menu" class="dashboard_content_dropdown ">
    <div class="dashboard_div ">
      <img src="../static/img/profile.svg">
      <a href="/product_dashboard">Profile</a>
    </div>

    <div>
      <hr>
    </div>
    <div class="dashboard_div">
      <img class="pl-2" src="../static/img/logout.svg">
      <a href="{{ url_for('logout') }}">logout</a>
    </div>
  </div>

  <script>
    window.addEventListener("load", function () {
      const loader = document.getElementById("page-loader");
      setTimeout(() => loader.style.display = "none", 300);
    });
  </script>
  <script>

    function toggledashboard() {
      const menu = document.getElementById("dashboard-menu");
      menu.classList.toggle("dropdown_show");
    }

    // Close dropdown if clicked outside
    window.onclick = function (event) {
      const menu = document.getElementById("dashboard-menu");
      const button = document.querySelector('.setting_bar_icon');

      if (!button.contains(event.target) && !menu.contains(event.target)) {
        menu.classList.remove("dropdown_show");
      }
    }

    // *************************************
  </script>
</body>

</html>