<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin</title>
    <link rel="icon" type="image/png" href="../static/img/evoluzn_title_logo.png">
    <link rel="stylesheet" href="../static/css/bootstrap.css">
    <link rel="stylesheet" href="../static/css/login.css">
    <link rel="stylesheet" href="../static/css/admin.css">
    <script src="../static/js/product_registration.js"></script>
</head>

<body>
    <div class="admin_container">

        <div class="admin_left_panel">
            <img class="admin_evoluzn_logo_img" src="../static/img/evoluznlogo_white.png" alt="">
            <div class="admin_toggle_buttons">
                <button id="productBtn" class="active" onclick="showProduct()">Product Registration</button>

            </div>
        </div>
        <!-- ******************** -->
        <div class="admin_right_panel" id="admin_rightPanel">
            <!--         <div class="login_right_panel" id="login_rightPanel"> -->

            <div class="admin_form_box">

                <form class="admin_form_container" id="adminForm"> 
                    <!-- <h4 class="mb-3">Product Registration</h4> -->
                    <h2 class="p-3">PRODUCT REGISTRATION</h2>

                    <div class="row mb-3">
                        <div class="col-md-6">
                            <label>Company Name</label>
                            <input type="text" class="form-control" id="company_name" value="{{ company }}" readonly>
                        </div>
                        <div class="col-md-6">
                            <label>Unit Name</label>
                            <select id="unitSelect" class="form-select">
                                <option value="">Select Unit</option>
                                {% for unit in companies %}
                                <option value="{{ unit.unit_name }}">{{ unit.unit_name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>

                    <div id="productFormsContainer"></div>

                    <div class="text-end">
                        <button id="addProductForm" type="button" class="btn btn-success btn-sm mb-3">+
                            Add
                            Product
                        </button>
                    </div>

                    <!-- Submit -->
                    <div class="submit_btn d-flex justify-content-center">
                        <button type="submit" class="btn btn-primary ">Submit</button>
                    </div>
                </form>


              

            </div>

        </div>
        <!-- ******************** -->

    </div>
    
    { % include 'footer.html' % }
    <script>
        const availableProducts = {{ products | tojson | safe }};
        const availableUsers = {{ users | tojson | safe }};
    </script>
</body>

</html>