<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/css/login_register_reset.css" />
    <title>Reset Password</title>
    <link rel="stylesheet" href="../static/css/bootstrap.css" />
</head>

<body>
    <img src="../static/img/logo-2@2x 1.png" alt="Logo" class="logo" />
    <div class="container">
        <div class="row form-container">
            <div class="col-md-6 d-flex align-items-center">
                <div class="form-content">
                    <h3 class="Title">Reset Password</h3>
                    <form id="resetPasswordForm">
                        <div class="form-group">
                            <label for="email">Email address:</label>
                            <input type="email" class="form-control" id="email" name="reset_email" />
                            <div id="email_warning" class="warning-message"></div>
                        </div>
                        <div class="form-group d-flex">
                            <label for="otp">OTP</label>
                            <div class="d-flex justify-content-center">
                                <input type="text" class="otp-input" id="otp1" maxlength="1" name="reset_OTP_1" />
                                <input type="text" class="otp-input" id="otp2" maxlength="1" name="reset_OTP_2" />
                                <input type="text" class="otp-input" id="otp3" maxlength="1" name="reset_OTP_3" />
                                <input type="text" class="otp-input" id="otp4" maxlength="1" name="reset_OTP_4" />
                                <input type="text" class="otp-input" id="otp5" maxlength="1" name="reset_OTP_5" />
                                <input type="text" class="otp-input" id="otp6" maxlength="1" name="reset_OTP_6" />
                            </div>
                        </div>
                        <div class="btn-center">
                            <button type="submit" class="button_reset_password">
                                Verify
                            </button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-md-6 image-container d-flex align-items-center">
                <img src="../static/img/Reset_password.png" alt="Reset Password Image" class="image_reset" />
            </div>
        </div>
    </div>
    <footer class="footer">
        <p>Powered by <b>EVOLUZN</b></p>
    </footer>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="../static/js/login.js"></script>
</body>

</html>