<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Running Lights</title>
  <link rel="stylesheet" href="../static/css/style.css" />
  <link rel="stylesheet" href="../static/fontawesome-free-5.15.4-web/fontawesome-free-5.15.4-web/css/all.min.css" />
  <script src="../static/js/jquery.js"></script>
  <script src="../static/js/socket.io.js"></script>
  <link rel="stylesheet" href="../static/css/font.css" />
  <link href="../static/css/bootstrap.css" rel="stylesheet" />
  <link href="../static/css/main_dashboard_graph.css" rel="stylesheet" />
  <script src="../static/js/chart.js"></script>
  <link rel="stylesheet" href="../static/css/datepicker.css">
  <script src="../static/js/datepicker.js"></script>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
    integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="../static/css/main_dashboard.css" />
  <link rel="stylesheet" href="../static/css/navbar_backup.css" />
  <link rel="stylesheet" href="../static/css/font.css" />
</head>

<body class="running_light_body">

  {% include 'navbar_backup.html' %}
  <!-- Main Content Area -->
    <h1>RUNNING LIGHT</h1>

  <footer class="footer1">
    <footer class="footer2">
      Powered by <span class="footerevoluzn">EVOLUZN</span>
    </footer>
  </footer>
  <script src="../static/js/main_dashboard.js"></script>
  <script src="../static/js/lux_level.js"></script>
  <script src="../static/js/socket_running.js"></script>
  <!-- <script src="../static/js/socket1.js"></script> -->
 
</body>

</html>