<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Scheduling</title>
  <link rel="stylesheet" href="../static/css/style.css" />
  <link href="../static/css/bootstrap.css" rel="stylesheet" />

  <link rel="stylesheet" href="../static/css/navbar_sidebar.css" />
  <link rel="stylesheet" href="../static/css/schedule.css" />

  <link rel="stylesheet" href="../static/css/font.css" />
  <link rel="stylesheet" href="../static/css/datepicker.css" />
  <script src="../static/js/datepicker.js"></script>


</head>

<body>
  {% include 'navbar.html' %}
  <div class="main_content">
        <div class="p-4">
          <div style="display: flex;flex-direction: row; gap: 10px; color: #2B3674;">
            <div>
              <img src="../static/img/schedule_icon_title.png">
            </div>
            <h4 class="schedule_title">Schedule</h4>
          </div>
    
          <div class="p-4 schedule_div_parent mt-4">
            <h5 class="schedule_add_schedule">Add Schedule</h5>
    
            <div class="schedule_deviceselect">
              
              <select id="deviceSelect"  name="selecteddevice"   class="schedule_deviceselect_options px-3"   required>
                <option value="">Choose Device</option>
                <option value="tubeGlobal" name="tubeGlobal" >Running Light</option>
                <option value="officeGlobal" name="officeGlobal">Office Light</option>
                <option value="highbayGlobal" name="highbayGlobal" >Highbay Light</option>
                <option value="plugGlobal" name="plugGlobal" >Air Conditioner </option>

              </select>
    
              <select class="schedule_timeselect_options px-3" id="dateSelect" name="scheduling">
                <option value="today">Today</option>
                <option value="weekly">Weekly</option>
                <option value="setDate">Set Date</option>
    
              </select>
    
            </div>
    
            <!-- Date Range Container, hidden by default -->
    
            <div id="weekly_day_range">
              <div
                style="display: flex;flex-direction: row;flex-wrap: wrap;gap: 20px;justify-content: center; color: #2B3674;font-weight: 500;">
                
                <div>
                  <div>Mon</div>
                  <input type="checkbox" name="day" class="day-checkbox" value="0">
              </div>
              <div>
                  <div>Tue</div>
                  <input type="checkbox" name="day" class="day-checkbox" value="1">
              </div>
              <div>
                  <div>Wed</div>
                  <input type="checkbox" name="day" class="day-checkbox" value="2">
              </div>
              <div>
                  <div>Thu</div>
                  <input type="checkbox" name="day" class="day-checkbox" value="3">
              </div>
              <div>
                  <div>Fri</div>
                  <input type="checkbox" name="day" class="day-checkbox" value="4">
              </div>
              <div>
                  <div>Sat</div>
                  <input type="checkbox" name="day" class="day-checkbox" value="5">
              </div>
              <div>
                  <div>Sun</div>
                  <input type="checkbox" name="day" class="day-checkbox" value="6">
              </div>
              <div>
                <div>Every Day</div>
                <input type="checkbox" name="day" id="everyday-checkbox" value="0123456">
            </div>
    
              </div>
            </div>
    
            <div class="schedule_select_Date_range">
              <div class="mt-3 schedule_select_Date_range_child" id="dateRangeContainer">
                <label for="dateRange">Select Date Range:</label>
                <input class="schedule_select_Date_range_input" id="dateRange" type="text" placeholder="Select Date Range">
              </div>
            </div>

    
            <div>
              <div class="schedule_from_to mt-3 row">
                <div class="col">
                  <div>From</div>
                  <input class="schedule_from_time_range_input" id="fromTime" type="time" name="fromtime">
                </div>
                <div class="col">
                  <div>To</div>
                  <input class="schedule_to_time_range_input" id="toTime" type="time" name="totime">
                </div>
              </div>
            </div>
            <!-- Alerts div -->
            <div id="alerts" style="color: rgb(241, 64, 64);"></div>
    
            <div class="mt-4 schedule_set_date_div">
              <button  type = "submit"  class="schedule_set_schedule" id="setScheduleBtn">SET</button>
            </div>
          </div>
    
          <div class="mt-5 p-4" style="background-color: #F5F7FF; border-radius: 15px;">
            <h4 class="schedule_device_list">Schedule Device List</h4>
            <div class="mt-5  schedule_list_title">
              <div class="row px-4">
                <h5 class="col">Device Name</h5>
                <h5 class="col">Date</h5>
                <h5 class="col">Schedule Time</h5>
                <h5 class="col">Delete</h5>
              </div>
            </div>
    
            <div id="scheduleList" class="container-fluid schedule_device_item">
              <!-- New schedule items will be appended here -->
               <!-- {{schedules}} -->
                
               
                  <div id="scheduleContainer">
                    {% for i in schedules %}
                  
                    <div class="row schedule-item">
                      <div class="col sdsds">
                        <img src="../static/img/scheduled_led.png" alt="Scheduled Device">
                        <div class="device-name">{{i.sr_no}}</div>
                      </div>
                      <div class="col schedule_device_date">
                        {% if i.schedule_start_date == current_date %}
                                  {{ i.schedule_start_date }}  <!-- Display start date if it matches the current date -->

                                  {% elif i.schedule_everyday is not none %}
                                  {% if i.schedule_everyday == '0' %}
                                      Mon
                                  {% elif i.schedule_everyday == '1' %}
                                      Tue
                                  {% elif i.schedule_everyday == '2' %}
                                      Wed
                                  {% elif i.schedule_everyday == '3' %}
                                      Thu
                                  {% elif i.schedule_everyday == '4' %}
                                      Fri
                                  {% elif i.schedule_everyday == '5' %}
                                      Sat
                                  {% elif i.schedule_everyday == '6' %}
                                      Sun
                                  {% elif i.schedule_everyday == '0123456' %}
                                      Everyday
                                  {% else %}
                                      {% set days = ['Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat', 'Sun'] %}
                                      {% set selected_days = [] %}
                                      
                                      {# Loop through each character in schedule_everyday (e.g., '013') #}
                                      {% for day in i.schedule_everyday %}
                                          {% if day.isdigit() and day|int >= 0 and day|int <= 6 %}
                                              {% set _ = selected_days.append(days[day|int]) %}
                                          {% endif %}
                                      {% endfor %}
                                      
                                      {# Display the selected days or show "Scheduled Without Days" if none selected #}
                                      {% if selected_days %}
                                          {{ selected_days|join(', ') }}
                                      {% else %}
                                          Scheduled Without Days ??
                                      {% endif %}
                                  {% endif %}
                        {% else %}
                            {% if i.schedule_start_date == i.schedule_end_date %}
                                {{ i.schedule_start_date }}  <!-- If start date and end date are the same, display the start date -->
                            {% else %}
                                {{ i.schedule_start_date }} - {{ i.schedule_end_date }}  <!-- If start and end dates are different, display both -->
                            {% endif %}
                        {% endif %}
                      </div>
                      <div class="col schedule-time">{{ i.schedule_start_time }} - {{ i.schedule_end_time }}</div>
                      <div class="col">
                        <button class="schedule_delete_list" data-id="{{ i.id }}" style="text-decoration: none!important;color: white;">Delete</button>

                        <!-- <button class="schedule_delete_list" ><a href="{{url_for('delete_schedule',schedule_id=i.id)}}" style="text-decoration: none!important;color: white;">Delete</a></button> -->
                      </div>
                    </div>
                    {% endfor %}
                  </div>
                
            </div>
      
           
          
            <div id="scheduleTemplate" style="display: none;" >
              <div class="row schedule-item"  data-id="{{ scheduleId }}">
                <div class="col sdsds">
                  <img src="../static/img/scheduled_led.png" alt="Scheduled Device">
                  <div class="device-name"></div>
                </div>
                <div class="col schedule_device_date"></div>
                <div class="col schedule-time"></div>
                <div class="col">
                  <button class="schedule_delete_list"   style="text-decoration: none!important;color: white;">Delete</button>

                  <!-- <button class="schedule_delete_list">Delete</button> -->
                </div>
              </div>
            </div>
          </div>
        </div>

  </div>

  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="../static/js/schedule_new.js"></script>
</body>

</html>