<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thermostate Graph</title>
    <link href="../static/css/bootstrap.css" rel="stylesheet" />
    <link href="../static/css/wts.css" rel="stylesheet" />
    <link href="../static/css/datepicker.css" rel="stylesheet" />
    <script src="../static/js/chart.js"></script>
    <script src="../static/js/datepicker.js"></script>
    <script src="../static/js/chart_cdn.js"></script>
    <script src="../static/js/hammer.js"></script>
    <script src="../static/js/plugin.js"></script>
    <script src="../static/js/alert.js"></script>
    <script
        src="https://cdn.jsdelivr.net/npm/chartjs-plugin-annotation@3.0.1/dist/chartjs-plugin-annotation.min.js"></script>
</head>

<body>
    <!-- MOBILE HAMBURGER -->
    <button class="btn btn-primary d-lg-none m-2" onclick="toggleMobileSidebar()">
        <i class="fa-solid fa-bars"></i>
    </button>

    <!-- SIDEBAR -->
    {% include 'navbar.html' %}

    <div class="main_content">
        <div class="p-3 d-flex flex-row justify-content-between mt-2">
            <a href="{{ url_for('wtstempsync') }}">
                <img src="../static/img/Back_btn.png" width="40" height="40">
            </a>
            <h3 class="temperature_dashboard_title">
                {{device_id}}
            </h3>
            <h3>
            </h3>
        </div>

        <div class="d-flex flex-column">
            <div class="">
                {{alertsindivisual}}
                <div class="d-flex flex-row gap-4 temp_alert_box_main_div">
                    {% for alert in alertsindivisual %}
                    <div class="mt-4 p-1 temp_r_y_b_alert_box_div">
                        <div class="alert-box" data-device-name="{{alert['device_name']}}"
                        data-alert-message="{{ alert['message'] }}" data-device-id="{{ alert['id'] }}">
                            <div style="display: none;">
                                <img class="temp_alert_box_close" src="../static/img/alert_cross_close.svg"
                                    onclick="deleteAlert(this)">
                            </div>
                            <div class="text-center temp_r_y_b_alert_box_title">
                                <img class="temp_alert_icon" src="../static/img/alert.svg">
                                Alert ({{ alert['exceeded_phases'] or "—" }})
                            </div>
                            <div class="text-center temp_r_y_b_alert_box_description mt-2">
                                {{ alert['message'] }}
                            </div>
                            <div class="mt-2 pb-3 temp_alert_time">
                                {{ alert.timestamp.strftime('%d %b %Y at %H:%M:%S') }}
                            </div>
                            <div class="mt-2 d-flex flex-row align-items-center gap-2">
                                <input type="text" class="form-control action-input" placeholder="Enter action taken..."
                                    {% if alert['action_taken'] %} value="{{ alert['action_taken'] }}" disabled {% endif
                                    %} />
                                <button class="btn btn-sm btn-primary" onclick="submitAction(this)" {% if
                                    alert['action_taken'] %} disabled {% endif %}>
                                    Submit
                                </button>
                            </div>
                        </div>
                    </div>
                    {% else %}
                    <div class="mt-4 text-muted"></div>
                    {% endfor %}
                </div>

                <div class="temp_graph_level_main_div mt-3">

                    {% set order = ['R', 'Y', 'B', 'N'] %}
                    {% for device_id, panels in device_data.items() %}
                    {% for panel_name, phases in panels.items() %}
                    <div data-device-id="{{ device_id }}" data-panel-name="{{ panel_name }}">

                        <div class="d-flex align-items-center gap-2">
                            <h4 style="margin-top: 10px;">{{ panel_name }}</h4>

                            <input type="text" value="{{ panel_name }}" class="control_panel_edit"
                                id="control_panel_edit_1_{{ device_id | replace(' ', '_') }}_{{panel_name.replace(' ', '_').replace('  ', '_').replace('   ', '_').replace('    ', '_') }}"
                                data-id="{{ device_id.replace(' ', '_').replace('  ', '_').replace('   ', '_').replace('    ', '_') }}_{{ panel_name.replace(' ', '_').replace('  ', '_').replace('   ', '_').replace('    ', '_') }}"
                                readonly>
                            <button class="edit_name"
                                id="edit_name_button_1_{{ device_id | replace(' ', '_') }}_{{ panel_name | replace(' ', '_') }}"
                                data-id="1_{{ device_id }}_{{ panel_name }}">
                                <img src="../static/img/akar-icons_edit.png" alt="" height="30">
                            </button>
                            <button class="apply_name"
                                id="apply_name_button_1_{{ device_id | replace(' ', '_') }}_{{ panel_name | replace(' ', '_') }}"
                                data-id="1_{{ device_id }}_{{ panel_name }}" style="display: none;">Apply</button>

                        </div>

                        <div class="temp_graph_level mt-4 mb-4">
                            {% for letter in order %}
                            {% for phase_name, value in phases.items() %}
                            {% if phase_name.startswith(letter) %}
                            <div class="temp_graph_level_indv_div p-3">
                                <div class="temp_graph_level_title_img_main_div mb-2">
                                    <h4 class="{% if phase_name.startswith('R') %}dashboard_temp_R_title{% elif phase_name.startswith('Y') %}
                                dashboard_temp_Y_title{% elif phase_name.startswith('B') %}
                                dashboard_temp_B_title{% else %}dashboard_temp_N_title{% endif %}">
                                        {{ phase_name }}</h4>
                                </div>

                                <div class="dashboard_temp_min_max_main_div">
                                    <div>
                                        <div class="dashboard_temp_min_div">Min</div>
                                        <div class="dashboard_temp_min_value_div" data-device="{{ device_id  }}"
                                            data-sensor="{{ phase_name }}">
                                            {{ result.get(device_id, {}).get(phase_name, {}).get('MIN', '-') }}°C
                                        </div>
                                    </div>

                                    <div class="temp_graph_level_temp_value_div">{{ value }}°C</div>

                                    <div>
                                        <div class="dashboard_temp_max_div">Max</div>
                                        <div class="dashboard_temp_max_value_div" data-device="{{ device_id }}"
                                            data-sensor="{{ phase_name }}">
                                            {{ result.get(device_id, {}).get(phase_name, {}).get('MAX', '-') }}°C
                                        </div>
                                    </div>
                                </div>


                            </div>
                            {% endif %}
                            {% endfor %}
                            {% endfor %}
                        </div>
                    </div>
                    {% endfor %}
                    {% endfor %}


                </div>

                <!-- ****************************** -->
                <!-- ------------temperature r y b Graph Start--------------------- -->
                <div class="temp_main_div mt-4">
                    <div id="alertActionContainer"></div>
                    <div class="running_graph_lux_main_div mt-4 p-3">
                        <div class="px-3">
                            <div>
                                <div class="d-flex justify-content-between mb-4">
                                    <div class="graph_main_heading" id="temperatureHeading">
                                        Temperature Graph (R, Y, B)
                                    </div>

                                    <div class="d-flex justify-content-end">
                                        <div class="temperature_r_y_b_control_panel me-2">
                                            <select id="controlPanelSelect_temp_r_y_b" class="temp_start_end_div">
                                                {% for device_id, panels in device_data.items() %}
                                                {% for panel_name in panels.keys() %}
                                                <option value="{{ panel_name }}">{{ panel_name }}</option>
                                                {% endfor %}
                                                {% endfor %}
                                            </select>
                                        </div>

                                        <div class="temperature_r_y_b_today_set_date">
                                            <select id="timeframeSelect_temp_r_y_b" class="temp_start_end_div">
                                                <option value="daily">Today</option>
                                                <option value="set-date">Set Date</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="py-2 temp_annotation_div" style="display: none;">
                                    <input id="annotationInput" type="number" placeholder="Enter Threshold Value"
                                        class="temp_start_end_div">
                                    <button id="applyAnnotation" class="temp_start_end_div">Apply</button>
                                    <div id="errorMessage_threshold" class="error" style="color: #f77367;;"></div>
                                </div>
                                <div id="dateRangeContainer_temp_r_y_b"
                                    class="py-2 dateRangeContainer_css_temp_r_y_b mt-2">
                                    <label for="dateRange_temp_r_y_b">Select Date Range:</label>
                                    <input id="dateRange_temp_r_y_b" type="text" placeholder="Select Date Range"
                                        class="temp_start_end_div">

                                    <button id="applyDateRange_temp_r_y_b" class="temp_start_end_div">Apply</button>
                                </div>
                                <div>
                                    <div class="temp_r_y_b_start_end_date_main_div">
                                        <div id="startDateDisplay_temp_r_y_b"></div>
                                        <div id="endDateDisplay_temp_r_y_b"></div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="main_graph_div">
                            <div class="main_canvas_wrapper">
                                <canvas id="myChart_temp_r_y_b" class="main_graph_plot_div"></canvas>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- ------------temperature r y b End--------------------- -->
            </div>
        </div>
    </div>

    {% include 'footer.html' %}

    <script src="../static/js/socket.io.js"></script>
    <script src="../static/js/temperature.js"></script>
    <script>
         function submitAction(button) {

            const alertBox = button.closest('.alert-box');
            const input = alertBox.querySelector('.action-input');

            const actionText = input.value.trim();
            if (!actionText) {
                alert("Please enter action taken");
                return;
            }

            // ? FIX HERE
            const deviceName = alertBox.dataset.deviceName;
            const message = alertBox.dataset.alertMessage;
            const deviceId = alertBox.dataset.deviceId;

            console.log("Device Name:", deviceName);
            console.log("Message:", message);

            fetch('/save_alert_action', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    device_name: deviceName,
                    message: message,
                    deviceId : deviceId ,
                    action_taken: actionText
                })
            })
                .then(res => res.json())
                .then(data => {
                    alert("Action saved successfully ?");
                    input.disabled = true;
                    button.disabled = true;
                })
                .catch(err => {
                    console.error(err);
                    alert("Error saving action ?");
                });
        }

    </script>
</body>

</html>