* {
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    font-family: "DM Sans", sans-serif;
    background-color: #F9F9F9;
}

.main_content {
    padding: 5px;
    margin-left: 164px;
}

@media (max-width: 768px) {
    .main_content {
        margin-left: 0;
        margin-top: 0;
    }
}

.container {
    width: 100%;
    max-width: 900px;
    min-height: 700px;
}

h1 {
    text-align: center;
    margin-bottom: 15px;
    letter-spacing: 1.5px;
    font-size: 20px;
    font-weight: bold;
}

.dashboard-box {
    background: #fff;
    border-radius: 15px;
    border: 1px solid #242424;
    padding: 0 0 25px 0;
    margin-bottom: 20px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
    position: relative;
}

.section-title {
    background: lab(98 -11.85 7.29);
    padding: 12px 25px;
    font-weight: bold;
    font-size: 28px;
    letter-spacing: 1.2px;
    border-radius: 15px 0 15px 0;
    display: inline-block;
    color: #23743F;
}

.card {
    background: #ffffff;
    padding: 15px;
    border-radius: 10px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 70px;
    height: 35px;
}

.switch input {
    display: none;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    border-radius: 40px;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 28px;
    width: 28px;
    left: 4px;
    bottom: 3.5px;
    background-color: white;
    transition: .4s;
    border-radius: 50%;
}

input:checked+.slider {
    background-color: #4B74FE;
}

input:checked+.slider:before {
    transform: translateX(35px);
}


/* 4 channel btb css */
/* 4 Channel BTB Section */
.btb-card {

    padding: 25px;
    border-radius: 15px;
    margin: 15px 20px;
}

.btb-main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
}

/* LEFT SIDE */
.btb-left {
    flex: 1;
    background: #fff4e8;
    border-radius: 20px;
    padding: 54px;
    text-align: center;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
}

.btb-title {
    font-size: 24px;
    font-weight: 700;
    color: #333;
    letter-spacing: 1.2px;
    margin-bottom: 8px;
}

.btb-subtitle {
    font-size: 13px;
    color: #777;
    margin-bottom: 20px;
}

/* BIG MASTER SWITCH */
.large-switch {
    width: 85px;
    height: 42px;
}

.large-switch .slider:before {
    height: 34px;
    width: 34px;
    left: 4px;
    bottom: 4px;
}

.large-switch input:checked+.slider:before {
    transform: translateX(42px);
}

/* RIGHT SIDE */
.btb-right {
    flex: 1;
    display: flex;
    justify-content: center;
}

.btb-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.btb-light {
    background: #fff4e8;
    width: 160px;
    height: 110px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.05);
    transition: 0.3s;
}

.btb-light:hover {
    transform: scale(1.03);
}

.btb-light h3 {
    font-size: 15px;
    color: #444;
    margin-bottom: 8px;
    font-weight: 600;
}

.btb-light,
.btb-left {
    position: relative;
}



.btb-arrow-btn {
    position: absolute;
    top: 10px;
    right: 8px;
    width: 22px;
    height: 22px;
    /* background-image: url("/static/img/right-arrow-2.png"); */
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    transition: transform 0.2s ease;
}

/* Hover effect (optional) */
.btb-arrow-btn:hover {
    transform: translateX(3px);
    filter: brightness(1.2);
}


.btb-arrow-btn img {
    width: 15px;
    height: 15px;
    object-fit: contain;
}