* {
    box-sizing: border-box;
    font-family: "Segoe UI", sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    width: 900px;
    background: #bfbfbf;
    border-radius: 14px;
    padding: 20px;
}

.header {
    background: #d1a485;
    color: #000;
    display: inline-block;
    padding: 8px 16px;
    border-radius: 8px;
    font-weight: bold;
    margin-bottom: 20px;
}

.panel {
    display: flex;
    gap: 20px;
}

.master {
    flex: 2;
    background: #c9c9c9;
    border-radius: 20px;
    padding: 40px;
    text-align: center;
}

.master h2 {
    letter-spacing: 3px;
    margin-bottom: 8px;
}

.master p {
    font-size: 13px;
    color: #444;
}

.toggle-wrapper {
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.lights {
    flex: 3;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.light-card {
    background: #c9c9c9;
    border-radius: 20px;
    padding: 30px;
    text-align: center;
}

.light-card h4 {
    margin-bottom: 20px;
}

/* TOGGLE SWITCH */
.switch {
    position: relative;
    display: inline-block;
    width: 52px;
    height: 28px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    background-color: #999;
    border-radius: 30px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: 0.3s;
}

.slider:before {
    content: "";
    position: absolute;
    height: 22px;
    width: 22px;
    left: 4px;
    bottom: 3px;
    background-color: #e5e5e5;
    border-radius: 50%;
    transition: 0.3s;
}

input:checked+.slider {
    background-color: #555;
}

input:checked+.slider:before {
    transform: translateX(24px);
}