body {
    font-family: 'DM Sans', sans-serif; 
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 95vh;
    position: relative;
}

.form-container {
    width: 100%;
    max-width: 1000px;
}

.form-content {
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
}

.image-container img {
    max-width: 100%;
    height: auto;
}

.Title {
    color: #FF8F77;
    font-size: 300%;
    text-align: center;
    padding-bottom: 5%;
    font-weight: 400;
}

.button_registration, .button_reset_password, .button_login,
.button_change_password, .button_profile_info {
    color: #fff;
    background-color: #3965ff;
    height: 40px;
    width: 120px;
    border-radius: 7px;
    border: none;
    cursor: pointer;
}
.button_registration:focus, .button_reset_password:focus, .button_login:focus,
.button_change_password:focus, .button_profile_info:focus {
    outline: none;
}
.btn-center {
    display: flex;
    justify-content: center;
}

.warning-message {
    color: red;
    font-size: 12px;
    margin-top: 5px;
}

.footer {
    font-size: 16px;
    text-align: center;
    width: 100%;
    bottom: 0;
    left: 0;
    color: #2B3674;
}

.logo {
    position: absolute;
    top: 30px;
    left: 30px;
    width: 8%;
}

.otp-input {
    width: 30px;
    height: 30px;
    text-align: center;
    font-size: 1.5rem;
    margin: 0 5px;
    border-radius: 5px;
    border: solid 1px;
    border-color: #a3aed0;
}

.otp-input:focus {
    outline: none;
}

.Sub_Title {
    font-weight: 400;
    font-size: 15px;
    display: flex;
    justify-content: center;
    color: #2B3674;
}

.form-group {
    color: #2B3674;
    font-weight: 500;
}

.form-control {
    border-color: #a3aed0;
}
/* /////////////////////////////////////////////////////////////////// */
 .container_registration{
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 95vh;
        position: relative;
}

.image_registration{
    max-width: 80%;
    display: flex;
    justify-content: center;
    height: auto;
}

@media (max-width: 767px) {
    .image_registration{
        width: 30%;
        margin: 0 auto;
        padding-bottom: 30px;
    }
}
@media (max-width: 499px) {
    .image_registration{
        width: 40%;
        margin: 0 auto;
        padding-bottom: 40px;
    }
}
@media (max-width: 425px) {
    .image_registration{
        width: 50%;
        margin: 0 auto;
        padding-bottom: 20px;
    }
}
@media (max-width: 367px) {
    .image_registration{
        width: 50%;
        margin: 0 auto;
        padding-bottom: 40px;
    }
}
@media (max-width: 336px) {
    .image_registration{
        width: 50%;
        margin: 0 auto;
        padding-bottom: 30px;
    }
}
@media (max-width: 320px) {
    .image_registration{
        width: 40%;
        margin: 0 auto;
        padding-bottom: 30px;
    }
} 
/* //////////////////////////////////////////////////////////////// */

.image_reset{
    max-width: 80%;
    display: flex;
    justify-content: center;
    height: auto;
}

@media (max-width: 767px) {
    .image_reset{
        width: 65%;
        margin: 0 auto;
        padding-bottom: 40px;
    }
}
@media (max-width: 497px) {
    .image_reset{
        width: 70%;
        margin: 0 auto;
        padding-bottom: 40px;
    }
}
@media (max-width: 425px) {
    .image_reset{
        width: 90%;
        margin: 0 auto;
        padding-bottom: 20px;
    }
}
@media (max-width: 367px) {
    .image_reset{
        width: 100%;
        margin: 0 auto;
        padding-bottom: 40px;
    }
}
@media (max-width: 336px) {
    .image_reset{
        width: 100%;
        margin: 0 auto;
        padding-bottom: 40px;
    }
}
@media (max-width: 320px) {
    .image_reset{
        width: 100%;
        margin: 0 auto;
        padding-bottom: 40px;
    }
}

/* //////////////////////////////////////////////////////////////////////////////// */
@media (max-width: 767px) {
    .form-container {
        display: flex;
        flex-direction: column-reverse;
    }

    .image_login {
        width: 60%;
        margin: 0 auto;
        padding-bottom: 50px;
    }

    .logo {
        position: absolute;
        top: 30px;
        left: 30px;
        width: 20%;
    }
}

@media (max-width: 868px) {
    .logo {
        position: absolute;
        top: 30px;
        left: 30px;
        width: 12%;
    }
}

@media (max-width: 425px) {
    .logo {
        position: absolute;
        top: 30px;
        left: 30px;
        width: 20%;
    }
}

@media (max-width: 499px) {
    .logo {
        position: absolute;
        top: 30px;
        left: 30px;
        width: 16%;
    }
}

@media (max-width: 320px) {
    .logo {
        position: absolute;
        top: 30px;
        left: 30px;
        width: 20%;
    }
}
@media (max-width: 372px) {

    .image_login {
        width: 70%;
        margin: 0 auto;
        padding-bottom: 50px;
    }
}
@media (max-width: 376px) {

    .image_login {
        width: 70%;
        margin: 0 auto;
        padding-bottom: 50px;
    }
}

@media (max-width: 991px) {
    .Title {
        color: #FF8F77;
        font-size: 230%;
        text-align: center;
        padding-bottom: 5%;
        font-weight: 400;
    }
}
.navbar_second {
    background-color: transparent;
    display: flex;
    justify-content: center;
    padding-bottom: 50px;
    align-items: center;
    flex-direction: row;
}
.navbar-nav {
    display: flex;
    justify-content: center;
    flex-direction: row;
} 

.password-container {
    position: relative;
}
.toggle-password {
    position: absolute;
    top: 73%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
}