body {
  background-color: #f9f9f9;
  height: 100vh;
  margin: 0;
  padding: 0;
  font-family: "DM Sans", sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* *********************************************************************footer start******************************************************************************* */

.footer {
  display: flex;
  justify-content: center;
  color: #2b3674;
  margin-top: auto;
}

.main_content {
  padding: 5px;
  margin-left: 164px;
}

@media (max-width: 768px) {
  .main_content {
    margin-left: 0;
    margin-top: 0;
  }
}

/* *********************************************************************footer end******************************************************************************* */

.alert_container {
  width: 100%;
  overflow-x: auto;
  white-space: nowrap;
  padding: 10px 0;
}

.alert_box {
  display: inline-block;
  padding: 10px;
  margin: 5px;
  background-color: #f8d7da;
  color: #721c24;
  border: 1px solid #f5c6cb;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.alert_box:hover {
  background-color: #f3d3d9;
  cursor: pointer;
}

.alert_container::-webkit-scrollbar {
  height: 8px;
}

.alert_container::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 10px;
}

.alert_container::-webkit-scrollbar-thumb:hover {
  background: #b3b3b3;
}

/* running_content */
.main_main_heading {
  color: #2b3674;
  font-weight: 700;
}
.main_running {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main_running_main {
  background-color: #ffffff;
  border-radius: 10px;
}

.main_officelight_main {
  background-color: #ffffff;
  border-radius: 10px;
}

.main_control_all_intensity {
  width: 10%;
}

.running_lights_master_switch_main {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.main_office_light_main {
  gap: 20px;
}

.main_all_day_power_consumption {
  background-color: #ffffff;
  border-radius: 15px;
}

.main_power_consumption {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main_running_light_lux_value {
  color: #2b3674;
  font-weight: 600;
}

.office_lights_all_device_power_consumption_daily {
  background-color: #ffffff;
}

.office_light_master_main {
  gap: 20px;
}

.main_running_lights_anchor {
  height: 30px;
  width: 30px;
  background-color: #ff8f77;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  border-radius: 5px;
  text-decoration: none;
  font-size: large;
  font-weight: 700;
}
.main_luxrange_running_light {
  accent-color: #3965ff;
  border-radius: 5px;
  border: 2px solid #2b3674;
}
#alertMessage_running_light_control_lux {
  color: rgb(247, 79, 79);
  font-size: 14px;
  margin-top: 5px;
}
.main_luxrange_office_light {
  accent-color: #3965ff;
  border-radius: 5px;
  border: 2px solid #2b3674;
}
#alertMessage_office_light_control_intensity {
  color: rgb(247, 79, 79);
  font-size: 14px;
  margin-top: 5px;
}
.main_highbayrange_light {
  accent-color: #3965ff;
}
.main_running_lights_anchor:hover {
  text-decoration: none;
  color: white;
}

.main_running_title {
  color: #2b3674;
  font-weight: 600;
  font-size: 18px;
}

.main_master_switch_title {
  color: #474f7d;
  font-weight: 500;
  font-weight: bold;
}
#active, #ideal, #active_hibay, #active_office, #active_tube{
  color: #474f7d;
  font-weight: 400;
}

.main_total_running_lights {
  color: #474f7d;
  font-weight: 500;
  font-size: 30px;
}

.main_total_office_lights {
  color: #474f7d;
  font-weight: 500;
  font-size: 30px;
}

.main_total_highbay_lights {
  color: #474f7d;
  font-weight: 500;
  font-size: 30px;
}

.main_running_light_power_consumption {
  color: #474f7d;
  font-weight: 500;
  font-size: 30px;
}

.main_office_light_power_consumption {
  color: #474f7d;
  font-weight: 500;
  font-size: 30px;
}

.main_running_highbay_power_consumption {
  color: #474f7d;
  font-weight: 500;
  font-size: 30px;
}

/* ********************* */
.highbay_lights_main {
  /* flex: 1 0 100px; */
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
}

.pc_dropdown{
  background-color: #DFE6FF;
  border-radius: 5px;
  color: #2b3674;
  font-weight: 600;
}
.main_highbay_child_box {
  flex: 1 0 175px;
  background-color: #ffffff;
  border-radius: 15px;
  height: 310px;
}

.main_highbay_box_title {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #2b3674;
  font-weight: 600;
  font-size: 18px;
}

.main_highbay_box_power_value {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #2b3674;
  font-weight: 600;
  font-size: 18px;
  margin-bottom: 10px;
}

.main_ac_img_div {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 46px;
}

.main_sc_img_span {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e4ebff;
  height: 100px;
  width: 100px;
  border-radius: 100%;
  cursor: pointer;
}

.main_ac_icon {
  color: #3965ff;
  font-size: 50px;
}

.main_on_off_div {
  margin-top: 42px;
  color: #a3aed0;
  font-size: larger;
  font-weight: 500;
}

.main_on_off_text {
  font-size: 15px;
  /* margin-bottom: 15px; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.main_s_m_img_div {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 55px;
}

.main_s_s_value {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 45px;
  font-size: 37px;
  font-weight: 700;
  color: #2b3674;
}

.main_t_p_c_img_div {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.main_t_p_c_value {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #2b3674;
  font-size: 17px;
  font-weight: 700;
}

.main_t_p_c_kwh {
  font-size: 15px;
}

.main_t_s_img {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}

.main_total_saving_value {
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin-top: 54px; */
  color: #2b3674;
  font-size: 17px;
  font-weight: 700;
}

.main_total_saving_text {
  font-size: 15px;
}

.main_running_value_div {
  position: relative;

  font-weight: 600;
  color: #2b3674;
}

.main_highbay_value_div {
  position: relative;
  font-weight: 600;
  color: #2b3674;
}

@media (max-width: 643px) {
  .highbay_lights_main {
    background-color: rgb(255, 255, 255);
    flex: 1 0 420px;
    border-radius: 10px;
  }
}

@media (max-width: 443px) {
  .highbay_lights_main {
    background-color: rgb(255, 255, 255);
    flex: 1 0 300px;
    border-radius: 10px;
  }
}

@media (max-width: 350px) {
  .highbay_lights_main {
    background-color: rgb(255, 255, 255);
    flex: 1 0 200px;
    border-radius: 10px;
  }
}

/* ********************************************************** */
.main_power_consumption_graph_div {
  width: 100%;
  overflow-x: auto;
  /* Enable horizontal scrolling */
  background-color: #ffffff;
  border-radius: 15px;
}

.main_power_consumption_graph_div::-webkit-scrollbar {
  height: 8px;
  /* Height for horizontal scrollbar */
}

.main_power_consumption_graph_div::-webkit-scrollbar-thumb {
  background-color: #90a5f1;
  border-radius: 10px;
  /* Optional: to make the scrollbar rounded */
}

.main_canvas_wrapper {
  width: 125%
}

.main_power_consumption_graph_main_div {
  height: 250px;
  /* Fixed height for the canvas */
  width: 100%;
  /* Ensure the canvas takes the full width of the wrapper */
}

/* Responsive adjustments */

/* ********************alert start*********************** */
.main_alert_main_div {
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
  width: 100%;
}

.main_alert_main_div1 {
  display: flex;
  flex-direction: row;
  /* Display the divs in a row */
  flex-wrap: nowrap;
  /* Prevent wrapping to next line */
}

.main_alert_main_div2 {
  padding: 5px;
  display: inline-block;
  height: 132px;
  width: 280px;
  margin: 10px;
  /* padding: 10px;  */
  /* border: 1px solid #ccc;  */
}

.main_alert_main_div::-webkit-scrollbar {
  width: 3px;
  height: 3px;
  /* Change scrollbar width here */
}

.main_main1 {
  /* padding-left: 9px; */
  background-color: #ffffff;
  border-radius: 10px;
  /* padding: 10px; */
  padding: 5px;
  display: inline-block;
}

.main_alert1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main_main2 {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.main_alert {
  height: 35px;
  margin-right: 10px;
}

.main_close_btn {
  text-decoration: none;
  border: none;
  background: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main_close_btn_img {
  height: 20px;
  cursor: pointer;
}

.main_attention_alert {
  text-align: center;
  color: #ee5d50;
  margin-top: 5px;
  margin-bottom: 5px;
}

.main_statement_alert {
  font-size: small;
  color: #e61300;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

/* ********************alert end*********************** */
.main_highbay_lux_value {
  color: #2b3674;
  font-weight: 600;
}

/* *************************master switch start **************************************** */
/* .main_running_label {
  width: 38px;
  height: 18px;
  background-color: #ccc;
  border-radius: 20.5px;
  position: relative;
  cursor: pointer;
  display: inline-block;
  left: 3%;
}

.main_running_label .main_running_master_div {
  width: 18px;
  height: 18px;
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
  transition: left 0.3s;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.main_running_label input[type="checkbox"] {
  display: none;
}

.main_running_label.on {
  background-color: #3965ff;
}

.main_running_label.on .main_running_master_div {
  left: 20px;
} */

/* *****new running********** */

.main_running_label {
  display: inline-block;
  cursor: pointer;
}

.main_running_label input {
  display: none; 
}

.main_running_master_div {
  width: 38px;
  height: 19.5px;
  background-color: #ccc;
  border-radius: 20.5px;
  position: relative;
  transition: background-color 0.3s;
}

.main_running_master_div::before {
  content: '';
  position: absolute;
  top: .2px;
  left: 1px;
  width: 17px;
  height: 18px;
  background-color: #fff;
  border-radius: 50%;
  transition: transform 0.3s;
}

input:checked + .main_running_master_div {
  background-color: #3965ff;
}

input:checked + .main_running_master_div::before {
  transform: translateX(18px);
}

/* **************new running********************* */

.main_office_light_label {
  width: 38px;
  height: 18px;
  background-color: #ccc;
  border-radius: 20.5px;
  position: relative;
  cursor: pointer;
  display: inline-block;
  left: 3%;
}

.main_office_light_lux_value_div {
  position: relative;
  color: #2b3674;
  font-weight: 600;
}


.main_office_light_label .main_office_master_div {
  width: 18px;
  height: 18px;
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
  transition: left 0.3s;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.main_office_light_label input[type="checkbox"] {
  display: none;
}

.main_office_light_label.on {
  background-color: #3965ff;
}

.main_office_light_label.on .main_office_master_div {
  left: 20px;
}

/* ********************************** */

.main_highbay_light_label {
  width: 38px;
  height: 18px;
  background-color: #ccc;
  border-radius: 20.5px;
  position: relative;
  cursor: pointer;
  display: inline-block;
  left: 3%;
}

.main_highbay_light_label .main_highbay_master_div {
  width: 18px;
  height: 18px;
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
  transition: left 0.3s;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.main_highbay_light_label input[type="checkbox"] {
  display: none;
}

.main_highbay_light_label.on {
  background-color: #3965ff;
}

.main_highbay_light_label.on .main_highbay_master_div {
  left: 20px;
}

/* *************************master switch end **************************************** */


/* ************************auto brightness start**************************************** */

.main_running_autobrightness_label {
  width: 38px;
  height: 18px;
  background-color: #ccc;
  border-radius: 20.5px;
  position: relative;
  cursor: pointer;
  display: inline-block;
  left: 3%;
}

.main_running_autobrightness_label .main_running_autobrigtness_div {
  width: 18px;
  height: 18px;
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
  transition: left 0.3s;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.main_running_autobrightness_label input[type="checkbox"] {
  display: none;
}

.main_running_autobrightness_label.on {
  background-color: #3965ff;
}

.main_running_autobrightness_label.on .main_running_autobrigtness_div {
  left: 20px;
}

/* ******* */
.main_autobrightness_label {
  width: 38px;
  height: 18px;
  background-color: #ccc;
  border-radius: 20.5px;
  position: relative;
  cursor: pointer;
  display: inline-block;
  left: 3%;
}

.main_autobrightness_label .main_office_autobrightness_div {
  width: 18px;
  height: 18px;
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
  transition: left 0.3s;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.main_autobrightness_label input[type="checkbox"] {
  display: none;
}

.main_autobrightness_label.on {
  background-color: #3965ff;
}

.main_autobrightness_label.on .main_office_autobrightness_div {
  left: 20px;
}

/* ******** */
.main_highbay_officeauto_motion_label {
  width: 38px;
  height: 18px;
  background-color: #ccc;
  border-radius: 20.5px;
  position: relative;
  cursor: pointer;
  display: inline-block;
  left: 3%;
}

.main_highbay_officeauto_motion_label .main_highbay_auto_motion_div {
  width: 18px;
  height: 18px;
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
  transition: left 0.3s;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.main_highbay_officeauto_motion_label input[type="checkbox"] {
  display: none;
}

.main_highbay_officeauto_motion_label.on {
  background-color: #3965ff;
}

.main_highbay_officeauto_motion_label.on .main_highbay_auto_motion_div {
  left: 20px;
}
/* ************************auto brightness end**************************************** */


.main_ac_child_div{
  background-color: rgb(255, 255, 255); border-radius: 15px;
}
.main_ac_parent_div{
  gap: 20px;
}
.main_oee_daily_parent_div{
  gap: 20px;
}
/* for download xlsx button */
.download_button{
  border: 0;
  background-color: #DFE6FF;
  border-radius: 5px;
}

.download_image {
  height: 25px;
}
.toggle {
  position: relative;
  display: inline-block;
  width: 36px;
  height: 20.4px;
}

.toggle input {
  opacity: 0;
  width: 0;
  height: 0;
}

.toggle_span {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
  border-radius: 20.4px;
}

.toggle_span:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  border-radius: 50%;
  transition: 0.4s;
}

/* Change background color and position of the slider when checked */
.toggle input:checked+.toggle_span {
  background-color: #3965ff;
  /* Green color when checked */
}

.toggle input:checked+.toggle_span:before {
  transform: translateX(16px);
  /* Move the slider */
}
.three_phase_meter_power_consumption_value {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  color: #2b3674;
  font-weight: 600;
}

/* hi bay css */


/* hi_bay_content */
.main_main_heading {
  color: #2b3674;
  font-weight: 700;
}
.main_hi_bay {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main_hi_bay_main {
  background-color: #ffffff;
  border-radius: 10px;
}


.hi_bay_lights_master_switch_main {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}



.main_hi_bay_light_lux_value {
  color: #2b3674;
  font-weight: 600;
}


.main_hi_bay_lights_anchor {
  height: 30px;
  width: 30px;
  background-color: #ff8f77;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  border-radius: 5px;
  text-decoration: none;
  font-size: large;
  font-weight: 700;
}
.main_luxrange_hi_bay_light {
  accent-color: #3965ff;
  border-radius: 5px;
  border: 2px solid #2b3674;
}
#alertMessage_hi_bay_light_control_lux {
  color: rgb(247, 79, 79);
  font-size: 14px;
  margin-top: 5px;
}

.main_hi_bay_lights_anchor:hover {
  text-decoration: none;
  color: white;
}

.main_hi_bay_title {
  color: #2b3674;
  font-weight: 600;
  font-size: 18px;
}


.main_total_hi_bay_lights {
  color: #474f7d;
  font-weight: 500;
  font-size: 30px;
}

.main_hi_bay_light_power_consumption {
  color: #474f7d;
  font-weight: 500;
  font-size: 30px;
}

.main_hi_bay_highbay_power_consumption {
  color: #474f7d;
  font-weight: 500;
  font-size: 30px;
}

.main_hi_bay_value_div {
  position: relative;

  font-weight: 600;
  color: #2b3674;
}



.main_hi_bay_label {
  display: inline-block;
  cursor: pointer;
}

.main_hi_bay_label input {
  display: none; 
}

.main_hi_bay_master_div {
  width: 38px;
  height: 19.5px;
  background-color: #ccc;
  border-radius: 20.5px;
  position: relative;
  transition: background-color 0.3s;
}

.main_hi_bay_master_div::before {
  content: '';
  position: absolute;
  top: .2px;
  left: 1px;
  width: 17px;
  height: 18px;
  background-color: #fff;
  border-radius: 50%;
  transition: transform 0.3s;
}

input:checked + .main_hi_bay_master_div {
  background-color: #3965ff;
}

input:checked + .main_hi_bay_master_div::before {
  transform: translateX(18px);
}

/* **************new hi_bay********************* */

/* ************************auto brightness start**************************************** */

.main_hi_bay_autobrightness_label {
  width: 38px;
  height: 18px;
  background-color: #ccc;
  border-radius: 20.5px;
  position: relative;
  cursor: pointer;
  display: inline-block;
  left: 3%;
}

.main_hi_bay_autobrightness_label .main_hi_bay_autobrigtness_div {
  width: 18px;
  height: 18px;
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
  transition: left 0.3s;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.main_hi_bay_autobrightness_label input[type="checkbox"] {
  display: none;
}

.main_hi_bay_autobrightness_label.on {
  background-color: #3965ff;
}

.main_hi_bay_autobrightness_label.on .main_hi_bay_autobrigtness_div {
  left: 20px;
}

/* ***** hibay end** */
.hi_bay_light_master_switch_toggle_main_div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
}