body {
  background-color: #f9f9f9;
  height: 100vh;
  margin: 0;
  padding: 0;
  font-family: "DM Sans", sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.footer {
  display: flex;
  justify-content: center;
  color: #2b3674;
  margin-top: auto;
}

.main_content {
  padding: 5px;
  margin-left: 164px;
}

@media (max-width: 768px) {
  .main_content {
    margin-left: 0;
    margin-top: 0;
  }
}

.main_main_heading {
  color: #2b3674;
  font-weight: 700;
}
