.dashboard_navbar {
  background-color: #333;
  padding: 10px 6px;
  background-color: #f9f9f9;
}

.main-content1 {
  margin-left: 163px;
  /* Adjust to sidebar width */
  transition: margin-left 0.3s ease;
}

.main-content1 {
  margin-left: 0;
  margin-top: 0;
}

.sidebar-close-btn {
  display: none;
}

.dashboard_navbar_main_div {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  top: 20px;
}

.dashboard_company_logo_img {
  width: 100px;
}

.dashboard_main_bell_notification {
  display: flex;
  justify-content: space-between;
}

.dashboard_notification_div {
  cursor: pointer;
  position: relative;
  z-index: 9999;
}

.dashboard_notification {
  margin-left: 10px;
  color: #2b3674;
  height: 20px;
  position: relative;
  z-index: 99;
}

.dashboard_dropdown_content_bell {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  width: 160px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  z-index: 1;
  left: 9px;
  margin-left: -142px;
  max-height: 200px;
  /* Set a maximum height for scrolling */
  overflow-y: auto;
  /* Enable vertical scrolling */
  border-radius: 10px;
}

.dashboard_dropdown_content_bell a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dashboard_dropdown_content_bell a:hover {
  background-color: #f1f1f1;
}

.sidebar {
  background-color: #ffffff;
  width: 150px;
  /* height: 150vh; */
  height: 100%;
  overflow: auto;
  padding: 20px;
  padding-bottom: 0px;
  box-sizing: border-box;
  transition: transform 0.3s ease;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  box-shadow: rgba(0, 0, 0, 0.05) 4px 0px 68px;
}

.main_sidebar {
  height: 89%;
  overflow: auto;
}

.sidebar_hr {
  border: 1px solid #d4d3d3;
  margin: 10px -28px;
}

.dashboard_dashbord_icon {
  text-decoration: none;
}

.sidebar_dashboard_icon {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  color: #3965ff;
}

.sidebar_dashboard_title {
  font-weight: 700;
  color: #2b3674;
  margin-bottom: 20px;
  padding: 5px;
}

.dashboard_title_dashboard {
  text-align: center;
}

.dashboard_profile_icon {
  text-decoration: none;
  color: #a3aed0;
}

.sidebar_porfile_icon {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  color: #3965ff;
}

.dashboard_profile_title {
  text-align: center;
  font-weight: 700;
  color: #2b3674;
}

.dashboard_logout {
  cursor: pointer;
  position: fixed;
  bottom: 15px;
  left: 50px;
}

.sidebar_logout_icon {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.sidebar_logout_icon1 {
  height: 25px;
  position: relative;
  left: 10px;
}

.sidebar_logout_text {
  text-align: center;
  color: #2b3674;
}

.sidebar_logout_anchor {
  text-decoration: none;
}

/* ************************************* */
.dashboard_notification_div {
  cursor: pointer;
  position: relative;
  z-index: 9999;
}

.dashboard_notification {
  margin-left: 10px;
  color: #2b3674;
  height: 20px;
  position: relative;
  z-index: 99;
}

.dashboard_dropdown_content_bell {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  width: 160px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  z-index: 1;
  left: 9px;
  margin-left: -142px;
  max-height: 200px;
  overflow-y: auto;
  border-radius: 10px;
}

.dashboard_dropdown_content_bell a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dashboard_dropdown_content_bell a:hover {
  background-color: #f1f1f1;
}

/* CSS class to show the dropdown */
.show_bell_icon {
  display: block;
}

@media (max-width: 768px) {
  .sidebar {
    transform: translateX(-100%);
  }

  /* Show menu icon */
  .menu-icon {
    display: block;
    cursor: pointer;
    position: relative;
    z-index: 1;
    color: #2b3674;
    font-weight: 800;
  }

  .sidebar-close-btn {
    display: block;
    text-align: right;
    color: #555;
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: 700;
  }
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 200px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  left: -160px;
}

.dropdown input[type="checkbox"] {
  display: none;
}

.dropdown input[type="checkbox"]:checked~.dropdown-content {
  display: block;
}

.dropdown input[type="checkbox"]:checked~.overlay {
  display: block;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.notification-icon {
  /* background-color: red; */
  color: white;
  padding: 5px 10px;
  border-radius: 50%;
  cursor: pointer;
}

.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: transparent;
  z-index: 0;
}

.sidebar_blue {
  color: #3965ff !important;
}

.sidebar_dark_blue {
  color: #2b3674 !important;
}

.sidebar_default_color {
  color: #a3aed0;
}

.sidebar .sidebar-link {
  padding-top: 1px;
  margin-bottom: 5px;
  text-decoration: none;
  display: block;
  transition: background-color 0.3s ease;
  border-radius: 10px;
}

.sidebar .sidebar-link:hover {
  background-color: #e8edff;
}

.sidebar .sidebar-link.active {
  background-color: #e8edff;
  color: white;
}

.sidebar_dashboard_title {
  font-weight: 700;
  color: #2b3674;
  margin-bottom: 20px;
  padding: 5px;
}

.sidebar_dashboard_icon {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  color: #3965ff;
}

.dashboard_darkmode_img {
  height: 20px;
  position: relative;

}



/* ######################## */
/* For WebKit browsers (Chrome, Safari) */
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 6px;
  border: 3px solid #f1f1f1;
}

/* Optional hover effect */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}


/* ******************** ************* */

.dashboard_dropdown_main_div {
  display: inline-block;
}

.sidebar_dashboard_title {
  font-weight: 700;
  color: #2b3674;
  margin-bottom: 20px;
  padding: 5px;
}

.dashboard_btn {
  cursor: pointer;
}

img.dashboard_btn {
  width: 24px;
  height: 24px;
}

.dashboard_content_dropdown a {
  color: black;
  padding: 10px 10px;
  text-decoration: none;
  display: block;
}
.dashboard_div {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.dashboard_div img {
  height: 30px;
  padding-left: 10px
}

.dashboard_div:hover {
  cursor: pointer;
}

.dashboard_content_dropdown div:hover {
  background-color: #f1f1f1;
}

.dashboard_content_dropdown {
  display: none;
  position: absolute;
  bottom: 10%;
  left: 4%;
  z-index: 9999;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  padding: 10px;
  width: 200px;
}

.dropdown_show {
  display: block;
}

/* **************** */