body {
    margin: 0px;
    padding: 0px;
    background-color: #f9f9f9;
  }
  
  .schedule-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 15px;
    background-color: #ffffff;
    padding: 10px;
    border-radius: 10px;
  }
  
  .schedule-item img {
    max-width: 50px;
    margin-right: 10px;
  }
  
  .schedule_add_schedule {
    color: #2B3674;
  }
  
  .schedule_div_parent {
    background-color: rgb(255, 255, 255);
    border-radius: 15px;
  }
  
  .schedule_deviceselect {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 15px;
    flex-wrap: wrap;
  }
  
  .schedule_deviceselect_options {
    background-color: #F4F7FE;
    color: #3965FF;
    border: none;
    height: 40px;
    border-radius: 5px;
    font-weight: 500;
  }
  
  .schedule_timeselect_options {
    background-color: #F4F7FE;
    color: #3965FF;
    border: none;
    height: 40px;
    border-radius: 5px;
    font-weight: 500;
  
  }
  
  .schedule_set_schedule {
    border: none;
    height: 40px;
    border-radius: 5px;
    font-weight: 500;
    background-color: #3965FF;
    color: #F4F7FE;
    width: 100px;
  }
  
  .schedule_set_schedule:focus {
    outline: none;
  }
  
  .schedule_from_to {
  
  
    color: #2B3674;
    font-weight: 500;
  }
  
  .schedule_device_list {
    color: #2B3674;
  }
  
  .schedule_list_title {
    color: #2B3674;
  
  }
  
  .schedule_device_item {
    color: #2B3674;
    font-weight: 500;
  }
  
  .sdsds {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  
  /* Hide the date range container by default */
  #dateRangeContainer,
  #weekly_day_range {
    display: none;
  }
  
  .schedule_select_Date_range {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #2B3674;
    font-weight: 500;
  }
  
  .schedule_select_Date_range_child {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
  
  .schedule_select_Date_range_input {
  
    background-color: #E7ECFF;
    border: none;
    height: 40px;
    border-radius: 5px;
    width: auto;
  }
  
  .schedule_from_time_range_input {
    width: 100%;
    background-color: #E7ECFF;
    border: none;
    height: 40px;
    border-radius: 5px;
  }
  
  .schedule_to_time_range_input {
    width: 100%;
    background-color: #E7ECFF;
    border: none;
    height: 40px;
    border-radius: 5px;
  }
  
  .schedule_set_date_div {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  
  .schedule_delete_list {
    background-color: rgb(243, 52, 52);
    color: white;
    border: none;
    border-radius: 5px;
    width: 80px;
    height: 40px;
  }
  
  .schedule_delete_list:focus {
    border: none;
  }
  
  @media (max-width: 576px) {
    .schedule-item {
      flex-direction: column;
      gap: 10px;
    }
  
    .schedule_device_date {
      margin-top: 20px;
    }
  
    .schedule_list_title {
      display: none;
    }
  }