body,
html {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #f9f9f9;
  font-family: "DM Sans", sans-serif;
}

.footer2 {
  text-align: center;
  color: #2b3674;
}

.footerevoluzn {
  font-weight: 800;
}

.dashboard_dark_mode_text {
  font-family: "DM Sans", sans-serif;
  font-size: medium;
}

.vesuvisus_logo_all_div {
  display: flex;
  justify-content: center;

}

.vesuvisus_logo_all {
  width: 100px;
  position: relative;
  bottom: 30px;
}

.dashboard_content2 {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 120px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  /* z-index: 99; */
  right: 18px;
  border-radius: 15px;
}

.dashboard_company_logo_img {
  width: 100px
}

.smart_led_scheduled {
  position: relative;
  /* z-index: 999; */

  /* Add positioning to the parent element */
}

.dashboard_main_bell_notification {
  display: flex;
  justify-content: space-between
}

.dashboard_title_dashboard {
  text-align: center
}

.dashboard_notification_div {
  cursor: pointer;
  position: relative;
  z-index: 9999;
}


.container {
  display: flex;
  align-items: center;
  /* Align items vertically */
  margin-left: 150px;
}

.hidden {
  display: none;
}

.dashboard_navbar_main_div {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  top: 20px;
}

/* Transition for smooth movement */
.slideRight {
  transform: translateX(-10px);
  /* Translate to right */
  transition: transform 0.5s ease-in-out;
}

.dashboard_content2 button {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  border: none;
  background: none;
  cursor: pointer;
  width: 100%;
  text-align: left;
}

.dashboard_content2 button:hover {
  background-color: #f1f1f1;
}

.dashboard3dot_show {
  display: block;
}

.todoList-container {
  position: relative;
  /* Add positioning to the todoList container */
  overflow-y: auto;
  /* Add vertical scrollbar */
  max-height: 400px;
  /* Set max height to enable scrolling */
}

/* Basic styling for the navbar */
/* .navbar {
  background-color: #333;
  padding: 10px 6px;
  background-color: #f4f7fe;
} */
.dashboard_navbar {
  background-color: #333;
  padding: 10px 6px;
  background-color: #f4f7fe;
}

.navbar_input {
  background-color: #ffffff;
  border-radius: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.navbar_search_input {
  position: relative;
  left: 17px;
  z-index: 1;
}

/* Hide the form initially */

/* Error message style */

/* For Webkit browsers (e.g., Chrome, Safari) */
::-webkit-scrollbar {
  width: 3px;
  /* You can adjust this width as needed */
}

::-webkit-scrollbar-thumb {
  background-color: #3965ff;
  /* Set the color of the scrollbar thumb */
  border-radius: 6px;
  /* Optional: Round the corners of the thumb */
}

/* For Firefox */

.highcharts-title {
  display: none;
}

.highcharts-label {
  display: none;
}

.highcharts-button-box {
  display: none;
}

.highcharts-no-tooltip {
  display: none;
}

/* ******** */
.notification-box {
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  background-color: #f1f1f1;
  border: 1px solid #ccc;
  padding: 10px;
  width: 200px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
}

.dashboard_content2 {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 120px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  right: 18px;
  border-radius: 15px;
}

.smart_led_scheduled {
  position: relative;
  /* Add positioning to the parent element */
}

.container {
  display: flex;
  align-items: center;
  /* Align items vertically */
  margin-left: 150px;
}

.hidden {
  display: none;
}

/* Transition for smooth movement */
.slideRight {
  transform: translateX(-10px);
  /* Translate to right */
  transition: transform 0.5s ease-in-out;
}

.dashboard_content2 button {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  border: none;
  background: none;
  cursor: pointer;
  width: 100%;
  text-align: left;
}

.dashboard_hidden_schedule {
  display: none;
}

.dashboard_content2 button:hover {
  background-color: #f1f1f1;
}

.dashboard3dot_show {
  display: block;
}

.todoList-container {
  position: relative;
  /* Add positioning to the todoList container */
  overflow-y: auto;
  /* Add vertical scrollbar */
  max-height: 400px;
  /* Set max height to enable scrolling */
}

/* Styling for the sidebar */
.sidebar {
  background-color: #ffffff;
  width: 150px;
  height: 100vh;
  padding: 20px;
  box-sizing: border-box;
  transition: transform 0.3s ease;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  box-shadow: rgba(0, 0, 0, 0.05) 4px 0px 68px;
}

/* Styling for the main content area */
.main-content {
  padding: 5px;
  margin-left: 164px;
  /* Adjust to sidebar width */
  transition: margin-left 0.3s ease;
}

.footer1 {
  padding: 5px;
  margin-left: 164px;
  /* Adjust to sidebar width */
  transition: margin-left 0.3s ease;

  margin-top: auto;
  padding: 10px;
  padding-top: 50px;
}

.main-content1 {
  margin-left: 163px;
  /* Adjust to sidebar width */
  transition: margin-left 0.3s ease;
}

.navbar-brand {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  bottom: 10px;
}

.dashboard_input {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 20px;
}

.sidebar-close-btn {
  display: none;
}

.sidebar_dashboard_title {
  font-weight: 700;
  color: #2b3674;
}

.input1 {
  border-radius: 50px;
  padding: 5px;
  border: none;
  background-color: #f4f7fe;
  height: 27px;
  width: 200px;
  margin-right: 20px;
  color: #2b3674;
  padding-left: 35px;
  font-size: large;
  position: relative;
  right: 9px;
  font-family: "DM Sans", sans-serif;
  outline: none;
}

.input1:focus {
  /* Change the box-shadow color to match the border color */
  box-shadow: 0 0 0 1px #2b3674 inset;
}

.sidebar_dashboard_icon {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  color: #3965ff;
}

.sidebar_porfile_icon {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.sidebar_faq_icon {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.sidebar_logout_icon {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.sidebar_logout_icon1 {
  height: 25px;
}

.dashboard_logout {
  cursor: pointer;
  position: fixed;
  bottom: 15px;
  left: 50px
}

.dashboard_intensity_control_main {
  text-align: center
}

.dashboard_darkmode_img {
  height: 20px
}

.darkmode {
  padding: 6px;
}

.dashboard_intensity_span {
  display: flex;
  flex-direction: column
}

.dashboard_dashbord_icon {
  text-decoration: none;
}

.dashboard_power_consum_title_dropdown_div {
  display: flex;
  justify-content: space-between
}

.dashboard_profile_icon {
  text-decoration: none;
  color: #a3aed0;
}

.dashboard_dashboard_titile {
  color: #707eae;
}

.dashboard_profile_title {
  text-align: center
}

.dashboard_power_consumption_graph_main_div {
  min-width: 310px;
  height: 400px;
}

@media (max-width:1632px) {
  .dashboard_power_consumption_graph_main_div {
    margin: auto;
  }
}


.dashboard_main_dashboard_titile {
  font-weight: 700;
  font-size: 30px;
  color: #2b3674;
}

.dashboard_main_menu {
  display: flex;
  align-items: end;
  justify-content: space-between;
  position: relative;
}

.dashboard_auto_brightness_div {
  margin-right: 20px;
  color: #2b3674;
  font-weight: 600;
}

.dashboard_master_switch_div {
  margin-right: 20px;
  color: #2b3674;
  font-weight: 600;
}

.dashboard_intensity_control_div {
  position: relative;
  bottom: 2px;
  color: #2b3674;
  font-weight: 600;
}

.dashboard_intensity_control_input {
  position: relative;
  top: 2px;
  width: 200px;
}

.dashboard_close_btn {
  text-decoration: none;
  border: none;
  background: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dashboard_close_btn_img {
  height: 20px;
  cursor: pointer;
}

.dashboard_alert1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dashboard_dashboard1 {
  /* padding-left: 9px; */
  background-color: #ffffff;
  border-radius: 10px;
  /* padding: 10px; */
  padding: 5px;
  display: inline-block;
}

.dashboard_alert {
  height: 35px;
  margin-right: 10px;
}

.dashboard_statement_alert {
  font-size: small;
  color: #e61300;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.dashboard_dashboard2 {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.dashboard_attention_alert {
  text-align: center;
  color: #ee5d50;
  margin-top: 5px;
  margin-bottom: 5px;
}

.dashboard_select_dev_schedule_set {
  display: none;
}

.dashboard_alert_main_div {
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
  width: 100%;
}

.dashboard_alert_main_div1 {
  display: flex;
  flex-direction: row;
  /* Display the divs in a row */
  flex-wrap: nowrap;
  /* Prevent wrapping to next line */
}

.dashboard_alert_main_div2 {
  padding: 5px;
  display: inline-block;
  height: 132px;
  width: 380px;
  margin: 10px;
  /* padding: 10px;  */
  /* border: 1px solid #ccc;  */
}

.dashboard_alert_main_div::-webkit-scrollbar {
  width: 3px;
  height: 3px;
  /* Change scrollbar width here */
}

.dashboard_add_device_button1 {
  border: none;
  margin: 0;
  background: none;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: medium;
  margin-left: 10px;
  color: #3965ff;
  padding: 5px;
  background-color: #ffffff;
  padding-left: 9px;
  padding-right: 9px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 9px;
  cursor: pointer;
}

.dashboard_masterswitch_auto_brightness_intensity_control {
  display: flex;
  flex-wrap: wrap
}

.dashboard_add_device_button2 {
  border: none;
  margin: 0;
  background: none;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: medium;
  margin-left: 10px;
  margin-right: 10px;
  color: #3965ff;
  padding: 5px;
  background-color: #ffffff;
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 9px;
  cursor: pointer;
}

.dashboard_add_device_show_all_LED {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
}

.dashboard_show_all_LED {
  height: 40px;
  width: 120px;
  background-color: #3965ff;
  border: none;
  color: #ffffff;
  border-radius: 10px;
  font-family: "DM Sans", sans-serif;
  cursor: pointer;
}

.dashboard_all_main_div1 {
  background-color: #fff;
  border-radius: 10px;
  margin-top: 10px;
}

.dashboard_all_main_div2 {
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: 350px;
  overflow-y: auto;
}

.dashboard_input_search_LED_div {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  position: relative;
  top: 10px;
  display: none;
}

.search_png_icon {
  position: relative;
  left: 22px;
  z-index: 1;
  color: #2B3674;
}

.dashboard_input_search_LED {
  border-radius: 20px;
  background-color: #f4f7fe;
  height: 40px;
  width: 210px;
  border: none;
  padding-left: 40px;
  position: relative;
  right: 6px;
  border-color: #f4f7fe;
  font-size: large;
  color: #2b3674;
}

.dashboard_input_search_LED:focus {
  box-shadow: 0 0 0 1px #2b3674 inset;
}

/* ******scroll bar property start********** */
.dashboard_all_main_div2::-webkit-scrollbar {
  width: 3px;
  /* width of the scrollbar */
}

/* Track */
.dashboard_all_main_div2::-webkit-scrollbar-track {
  background: #f1f1f1;
  /* color of the track */
}

/* Handle */
.dashboard_all_main_div2::-webkit-scrollbar-thumb {
  background: #3965ff;
  /* color of the scrollbar handle */
  border-radius: 5px;
  /* roundness of the scrollbar handle */
}

/* Handle on hover */
.dashboard_all_main_div2::-webkit-scrollbar-thumb:hover {
  background: #3965ff;
  /* color of the scrollbar handle on hover */
}

/* *********scroll bar property end*********** */
.dashboard_led_title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.dashboard_led1 {
  width: 220px;
  height: 290px;
  border: 2px solid #626c85;
  padding: 10px;
  border-radius: 16px;
  margin: 10px;
}

.dashboard_off_on_title {
  display: flex;
  align-items: center;
  justify-content: end;
  font-size: 7px;
  font-weight: 600;
  color: #2b3674;
}

.dashboard_off {
  margin-right: 10px;
}

.dashboard_light_intensity_title {
  text-align: center;
  margin-top: 20px;
  color: #2b3674;
  font-weight: 600;
  font-size: 14px;
}

.dashboard_online_status_box {
  display: flex;
  align-items: center;
  justify-content: center;
}

.dashboard_online_status {
  height: 90px;
  width: 90px;
  background-color: #F3F3F3;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #e2e2e2;
  margin-top: 9px;
  font-size: 12px;
  border-radius: 10px;
}

.dashboard_smart_led1_range_div {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.dashboard_smart_led1_range {
  width: 170px;
}

.dashboard_smart_led1_range2 {
  width: 170px;
}
.dashboard_smart_led1_range3 {
  width: 170px;
}
.dashboard_smart_led1_range4 {
  width: 170px;
}

.dashboard_smart_led1_range5 {
  width: 170px;
}
.dashboard_smart_led1_range6 {
  width: 170px;
}

.dashboard_smart_led1_range7 {
  width: 170px;
}
.dashboard_percent {
  text-align: center;
  color: #2b3674;
  font-size: 12px;
}

.dashboard_percent2 {
  text-align: center;
  color: #2b3674;
  font-size: 12px;
}
.dashboard_percent3 {
  text-align: center;
  color: #2b3674;
  font-size: 12px;
}
.dashboard_percent4 {
  text-align: center;
  color: #2b3674;
  font-size: 12px;
}
.dashboard_percent5 {
  text-align: center;
  color: #2b3674;
  font-size: 12px;
}
.dashboard_percent6 {
  text-align: center;
  color: #2b3674;
  font-size: 12px;
}
.dashboard_percent7 {
  text-align: center;
  color: #2b3674;
  font-size: 12px;
}
.dashboard_luminous_value {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 15px;
}

.dashboard_power_consumption_value {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
}

.dashboard_consumption_value {
  display: flex;
  justify-content: flex-start;
  color: #2b3674;
  font-weight: 600;
  font-size: 13px;
}

.dashboard_luminous_title {
  color: #2b3674;
  font-weight: 600;
  font-size: 13px;
}

.dashboard_lux_value {
  color: #2b3674;
  font-weight: 700;
  font-size: 19px;
}

.dashboard_lux_title {
  font-size: 12px;
  font-weight: 800;
}

.dashboard_power_title {
  color: #2b3674;
  font-weight: 600;
  font-size: 13px;
}

.dashboard_power_value {
  color: #2b3674;
  font-weight: 700;
}

.dashboard_kwh_title {
  font-size: 14px;
  font-weight: 800;
}

.dashboard_power_value {
  font-weight: 700;
  font-size: 20px;
}

.dashboard_graph_schedule {
  display: flex;
  flex-direction: row;
  border-radius: 15px;
  margin-top: 20px;
  gap: 20px;
}

.dashboard_graph{
  height: 100%;
  margin-bottom: 20px;
}

.dashboard_poer_consumption_title {
  margin-left: 12px;
  color: #2b3674;
  font-weight: 700;
  font-size: larger;
  display: flex;
}

.dashboard_power_dropdown {
  width: 120px;
  background-color: #f4f7fe;
  border: none;
  height: 40px;
  color: #3965ff;
  border-radius: 7px;
  padding-left: 10px;
  padding-right: 10px;
  font-weight: 600;
  font-size: medium;
  font-family: "DM Sans", sans-serif;
  cursor: pointer;
}

.dashboard_graph {
  width: 55%;
  background-color: #ffffff;
  border-radius: 15px;
  padding: 20px;
  /* margin-right: 20px; */
}

.main_power_consumption_graph_main_div{
  height: 350px !important; 
}
.dashboard_graph {
  overflow-x: auto;
  /* Enable horizontal scrolling */
  background-color: #ffffff;
  border-radius: 15px;
}

.dashboard_schedule_savings {
  width: 44%;
}

.dashboard_schedule {
  background-color: #fff;
  border-radius: 15px;
  padding: 20px;
}

.dashboard_power_consumption_title {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.dashboard_power_consumption_graph {
  margin-top: 15px;
}

.dashboard_power_consumption_graph_div {
  overflow-x: auto;
  margin-top: 20px;
}

.menu-icon {
  position: relative;
  z-index: 999;
}

.dashboard_smartLED_title {
  color: #2b3674;
  font-weight: 600;
  font-family: "DM Sans", sans-serif;
}

.dashboard_schedule_title_img {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  /* margin-top: -11px; */
}

.dashboard_schedule_btn {
  border: none;
  background: none;
}

.dashboard_save_money {
  height: 35px;
}

/* ******* */

/* ********** */
.dashboard_schedule_img {
  height: 35px;
}

.dashboard_schedule_title {
  font-size: larger;
  font-weight: 800;
  color: #2b3674;
  margin-left: 12px;
}

.dashboard_add_schedule_btn {
  background-color: #3965ff;
  border: none;
  height: 40px;
  width: 140px;
  color: #ffffff;
  border-radius: 10px;
  font-family: "DM Sans", sans-serif;
  cursor: pointer;
}

.dashboard_add_schedule_btn_div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.dashboard_intensity_control_input {
  accent-color: #3965ff;
}

.dashboard_all_led_hidden {
  display: none;
}

.dashboard_savings_div {
  background-color: #ffffff;
  border-radius: 15px;
  margin-top: 20px;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dashboard_savings_1 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.dashboard_you_saved {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.dashboard_currency {
  margin-left: 20px;
  color: #2b3674;
}

.dashboard_savings__title {
  color: #2b3674;
  font-size: larger;
  font-weight: 800;
  margin-left: 12px;
}

.dashboard_you_saved_title {
  font-size: small;
  color: #a3aed0;
}

.dashboard_saves_money {
  color: #2b3674;
  font-weight: 800;
  font-size: large;
}

.dashboard_avatar_profile {
  cursor: pointer;
}

.schedule_list {
  max-height: 95px !important ; 
  overflow-y: auto !important ; 
  margin-top: 15px !important ; 
}

/* *********toggle button start*********** */
.dashboard_main_master_switch {
  position: relative;
  display: inline-block;
  width: 36px;
  /* 40% smaller width */
  height: 20.4px;
  /* 40% smaller height */
}

.dashboard_power_consumption_graph_div::-webkit-scrollbar {
  height: 3px;
}

.dashboard_main_master_switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.dashboard_main_slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 20.4px;
  /* 40% smaller border-radius */
}

.dashboard_main_slider:before {
  position: absolute;
  content: "";
  height: 15.6px;
  /* 40% smaller height */
  width: 15.6px;
  /* 40% smaller width */
  left: 2.4px;
  /* 40% smaller left position */
  bottom: 2.4px;
  /* 40% smaller bottom position */
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 50%;
}

.dashboard_main_checkbox:checked+.dashboard_main_slider {
  background-color: #3965ff;
}

.dashboard_main_checkbox:focus+.dashboard_main_slider {
  box-shadow: 0 0 1px #3965ff;
}

.dashboard_main_checkbox:checked+.dashboard_main_slider:before {
  -webkit-transform: translateX(15.6px);
  -ms-transform: translateX(15.6px);
  transform: translateX(15.6px);
}



.dashboard_main_checkbox1:checked+.dashboard_main_slider {
  background-color: #3965ff;
}

.dashboard_main_checkbox1:focus+.dashboard_main_slider {
  box-shadow: 0 0 1px #3965ff;
}

.dashboard_main_checkbox1:checked+.dashboard_main_slider:before {
  -webkit-transform: translateX(15.6px);
  -ms-transform: translateX(15.6px);
  transform: translateX(15.6px);
}



.dashboard_main_checkbox2:checked+.dashboard_main_slider {
  background-color: #3965ff;
}

.dashboard_main_checkbox2:focus+.dashboard_main_slider {
  box-shadow: 0 0 1px #3965ff;
}

.dashboard_main_checkbox2:checked+.dashboard_main_slider:before {
  -webkit-transform: translateX(15.6px);
  -ms-transform: translateX(15.6px);
  transform: translateX(15.6px);
}



.dashboard_main_checkbox3:checked+.dashboard_main_slider {
  background-color: #3965ff;
}

.dashboard_main_checkbox3:focus+.dashboard_main_slider {
  box-shadow: 0 0 1px #3965ff;
}

.dashboard_main_checkbox3:checked+.dashboard_main_slider:before {
  -webkit-transform: translateX(15.6px);
  -ms-transform: translateX(15.6px);
  transform: translateX(15.6px);
}


.dashboard_main_checkbox4:checked+.dashboard_main_slider {
  background-color: #3965ff;
}

.dashboard_main_checkbox4:focus+.dashboard_main_slider {
  box-shadow: 0 0 1px #3965ff;
}

.dashboard_main_checkbox4:checked+.dashboard_main_slider:before {
  -webkit-transform: translateX(15.6px);
  -ms-transform: translateX(15.6px);
  transform: translateX(15.6px);
}


.dashboard_main_checkbox5:checked+.dashboard_main_slider {
  background-color: #3965ff;
}

.dashboard_main_checkbox5:focus+.dashboard_main_slider {
  box-shadow: 0 0 1px #3965ff;
}

.dashboard_main_checkbox5:checked+.dashboard_main_slider:before {
  -webkit-transform: translateX(15.6px);
  -ms-transform: translateX(15.6px);
  transform: translateX(15.6px);
}



.dashboard_main_checkbox6:checked+.dashboard_main_slider {
  background-color: #3965ff;
}

.dashboard_main_checkbox6:focus+.dashboard_main_slider {
  box-shadow: 0 0 1px #3965ff;
}

.dashboard_main_checkbox6:checked+.dashboard_main_slider:before {
  -webkit-transform: translateX(15.6px);
  -ms-transform: translateX(15.6px);
  transform: translateX(15.6px);
}



.dashboard_select_device_schedule_time {
  display: flex;
  justify-content: end;
  margin-top: 20px;
}

.dashboard_selectdevice {
  margin-right: 15px;
  width: auto;
  background-color: #f4f7fe;
  border: none;
  height: 40px;
  color: #3965ff;
  border-radius: 7px;
  padding-left: 10px;
  padding-right: 10px;
  font-size: medium;
  font-weight: 600;
  font-family: "DM Sans", sans-serif;
}

.dashboard_days {
  width: auto;
  background-color: #f4f7fe;
  border: none;
  height: 40px;
  color: #3965ff;
  border-radius: 7px;
  padding-left: 10px;
  padding-right: 10px;
  font-weight: 600;
  font-size: medium;
  font-family: "DM Sans", sans-serif;
  cursor: pointer;
}

.rangeOnline {
  background-color: #3965FF;
}

.dashboard_dropdown_content_bell {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  width: 160px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  z-index: 1;
  left: 9px;
  margin-left: -142px;
  max-height: 200px;
  /* Set a maximum height for scrolling */
  overflow-y: auto;
  /* Enable vertical scrolling */
  border-radius: 10px;
}

.dashboard_dropdown_content_bell a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dashboard_dropdown_content_bell a:hover {
  background-color: #f1f1f1;
}

.show_bell_icon {
  display: block;
}



.show_bell_icon {
  display: block;
}

/* Error message style */

/* For Webkit browsers (e.g., Chrome, Safari) */
::-webkit-scrollbar {
  width: 3px;
  /* You can adjust this width as needed */
}

::-webkit-scrollbar-thumb {
  background-color: #3965ff;
  /* Set the color of the scrollbar thumb */
  border-radius: 6px;
  /* Optional: Round the corners of the thumb */
}

/* For Firefox */
#todoList {
  scrollbar-color: #3965ff;
  /* Set the color of the scrollbar (Firefox) */
}

.dashboard_threedot_dropdown {
  position: relative;
  display: inline-block;
  margin-left: 100px;
}

.dashboard_threedot_dropdown_img {
  cursor: pointer;
}

.dashboard_threedot_dropdown_content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 120px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  right: 18px;
}

.daily_schedule_input_div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin-top: 20px;
}

.daily_schedule_input1 {
  width: 40%;
  background-color: #e7ecff;
  border: none;
  height: 40px;
  border-radius: 7px;
  padding-left: 10px;
  padding-right: 10px;
}

.daily_schedule_input2 {
  width: 40%;
  background-color: #e7ecff;
  border: none;
  height: 40px;
  border-radius: 7px;
  padding-left: 10px;
  padding-right: 10px;
}

.weekly_schedule_input1 {
  width: 40%;
  background-color: #e7ecff;
  border: none;
  height: 40px;
  border-radius: 7px;
  padding-left: 10px;
  padding-right: 10px;
}

.monthly_schedule_date_input1 {
  width: 40%;
  background-color: #e7ecff;
  border: none;
  height: 40px;
  border-radius: 7px;
  padding-left: 10px;
  padding-right: 10px;
}

.monthly_schedule_date_input2 {
  width: 40%;
  background-color: #e7ecff;
  border: none;
  height: 40px;
  border-radius: 7px;
  padding-left: 10px;
  padding-right: 10px;
}

.weekly_schedule_input2 {
  width: 40%;
  background-color: #e7ecff;
  border: none;
  height: 40px;
  border-radius: 7px;
  padding-left: 10px;
  padding-right: 10px;
}

.monthly_calender_input_div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin-top: 20px;
}

.dashboard_weekly_weekdays {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-items: center;
}

.monthly_time_input_div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.daily_schedule_error_div {
  text-align: center;
  color: #ee5d50;
  margin-top: 15px;
}

.dashboard_weekly_weekdays {
  margin-top: 20px;
}

.dashboard_weekdays_input_div {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  margin-top: 20px;
}

.dashboard_weekdays_div {
  width: 140px;
  color: #2b3674;
  font-weight: 600;
}

.weekly_schedule_set_daily_div {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 20px;
}

.monthly_schedule_set_daily_div {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 20px;
}

.daily_schedule_set_daily_div {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.monthly_schedule_set_daily_button {
  height: 35px;
  width: 140px;
  border: none;
  border-radius: 10px;
  background-color: #3965ff;
  color: #ffffff;
  cursor: pointer;
}

.monthly_time_input_div {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  gap: 30px;
}

.monthly_schedule_input1 {
  width: 40%;
  background-color: #e7ecff;
  border: none;
  height: 40px;
  border-radius: 7px;
  padding-left: 10px;
  padding-right: 10px;
}

.monthly_schedule_input2 {
  width: 40%;
  background-color: #e7ecff;
  border: none;
  height: 40px;
  border-radius: 7px;
  padding-left: 10px;
  padding-right: 10px;
}

.daily_schedule_set_daily_button {
  height: 35px;
  width: 140px;
  border: none;
  border-radius: 10px;
  background-color: #3965ff;
  color: #ffffff;
  cursor: pointer;
}

.weekly_schedule_set_daily_button {
  height: 35px;
  width: 140px;
  border: none;
  border-radius: 10px;
  background-color: #3965ff;
  color: #ffffff;
  cursor: pointer;
}

.weekly_error1 {
  text-align: center;
  margin-top: 20px;
  color: #ee5d50;
}

.weekly_error2 {
  text-align: center;
  color: #ee5d50;
}

.monthly_error1 {
  text-align: center;
  margin-top: 20px;
  color: #ee5d50;
}

.monthly_error2 {
  text-align: center;
  color: #ee5d50;
}

.dashboard_threedot_dropdown_content button {
  display: block;
  width: 100%;
  padding: 8px 16px;
  text-align: left;
  border: none;
  background: none;
  cursor: pointer;
  transition: background 0.3s;
}

.dashboard_threedot_dropdown_content button:hover {
  background-color: #f0f0f0;
}

.highcharts-title {
  display: none;
}

.highcharts-label {
  display: none;
}

.highcharts-button-box {
  display: none;
}

.highcharts-no-tooltip {
  display: none;
}

/* ******** */
.notification-box {
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  background-color: #f1f1f1;
  border: 1px solid #ccc;
  padding: 10px;
  width: 200px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
}

/* *********toggle button end************** */
@media (max-width: 768px) {
  .dashboard_main_menu {
    display: flex;
    flex-direction: column-reverse;
  }

  .navbar_input {
    display: none;
  }

  .dashboard_graph_schedule {
    display: flex;
    flex-direction: column;
  }

  .dashboard_graph {
    width: 100%;
  }

  .dashboard_schedule_savings {
    width: 99%;
    /* margin-top: 20px; */
  }

  .dashboard_masterswitch_auto_brightness_intensity_control {
    gap: 20px;
    justify-content: space-between;
  }

  .dashboard_input_search_LED_div {
    display: block;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .dashboard_dashboard_titile {
    display: none;
  }

  .dashboard_dashboard_maintitle {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media (max-width: 1010px) {
  .dashboard_graph_schedule {
    display: flex;
    flex-direction: column;
  }

  .dashboard_graph {
    width: 95%;
  }

  .dashboard_schedule_savings {
    width: 100%;
    /* margin-top: 20px; */
  }
}

@media (max-width: 660px) {
  .dashboard_graph {
    width: 93%;
  }
}

@media (max-width: 531px) {
  .dashboard_graph {
    width: 92%;
  }
}

@media (max-width: 1122px) {
  .dashboard_intensity_control_div {
    margin-top: 25px;
  }

  .dashboard_add_device_show_all_LED {
    margin-bottom: 30px;
  }
}

@media (max-width: 459px) {
  .dashboard_masterswitch_auto_brightness_intensity_control {
    font-size: 15px;
  }

  .dashboard_intensity_control_input {
    position: relative;
    top: -1px;
  }
}

@media (max-width: 439px) {
  .dashboard_masterswitch_auto_brightness_intensity_control {
    font-size: 13px;
  }
}

@media (max-width: 400px) {
  .dashboard_masterswitch_auto_brightness_intensity_control {
    font-size: 12px;
  }

  .dashboard_statement_alert {
    font-size: 14px;
  }
}

@media (max-width: 380px) {
  .dashboard_masterswitch_auto_brightness_intensity_control {
    font-size: 11px;
  }

  .dashboard_statement_alert {
    font-size: 13px;
  }
}

@media (max-width: 361px) {
  .dashboard_masterswitch_auto_brightness_intensity_control {
    font-size: 10px;
  }

  .dashboard_statement_alert {
    font-size: 12px;
  }

  .dashboard_intensity_control_input {
    position: relative;
    top: -4px;
    width: 180px;
  }
}

@media (max-width: 341px) {
  .dashboard_masterswitch_auto_brightness_intensity_control {
    font-size: 9px;
  }

  .dashboard_statement_alert {
    font-size: 11px;
  }
}

@media (max-width: 322px) {
  .dashboard_masterswitch_auto_brightness_intensity_control {
    font-size: 8px;
  }

  .dashboard_statement_alert {
    font-size: 10px;
  }
}

@media (max-width: 1138px) {
  .dashboard_masterswitch_auto_brightness_intensity_control {
    gap: 0px;
  }
}

@media (max-width: 672px) {
  .dashboard_main_menu {
    padding-left: 10px;
    padding-right: 10px;
  }

  .dashboard_auto_brightness_div {
    position: relative;
    left: 20px;
  }
}

@media (max-width: 1252px) {
  .dashboard_power_consumption_graph {
    width: 500px;
  }
}

/* Media query for smaller screens */

@media (max-width: 768px) {
  .sidebar {
    transform: translateX(-100%);
  }

  /* Show menu icon */
  .menu-icon {
    display: block;
    cursor: pointer;
    position: relative;
    z-index: 1;
    color: #2b3674;
    font-weight: 800;
  }

  /* Hide navbar brand text when sidebar is hidden */
  /* .navbar-brand {
        display: none;
    } */

  /* Ensure main content area takes up full width */
  .main-content {
    margin-left: 0;
  }

  .footer1 {
    margin-left: 0;

  }

  .main-content1 {
    margin-left: 0;
    margin-top: 0;
  }

  /* Show close button */
  .sidebar-close-btn {
    display: block;
    text-align: right;
    color: #555;
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: 800;
  }
}

@media (max-width: 540px) {
  .dashboard_input {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
  }

  .dashboard2 {
    display: flex;
    justify-content: center;
  }

  .input1 {
    width: 100%;
  }

  .navbar_input {
    display: none;
  }
}

@media (max-width: 768px) {
  .dashboard_main_menu {
    padding-left: 13px;
    padding-right: 13px;
  }

  .menu-icon {
    position: relative;
    left: 8px;
  }

  .dashboard_input {
    padding-left: 13px;
    padding-right: 13px;
  }
}

@media (min-width: 769px) {
  .dashboard_main_menu {
    padding-left: 13px;
    padding-right: 13px;
  }

  .menu-icon {
    position: relative;
    left: 8px;
  }

  .dashboard_input {
    padding-left: 13px;
    padding-right: 13px;
  }
}

@media screen and (min-width: 541px) and (max-width: 768px) {
  .dashboard_input {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.sidebar_logout_text {
  text-align: center;
  color: #a3aed0;
}

.dashboard_intensity_control_div {
  display: flex;
  flex-direction: row;
  color: #2b3674;
  font-weight: 600;
}

input[data-device-id] {
  background-color: blue;
  color: white;
  border: 2px solid black;
}

.boxes_1 {
  max-height: 150px;
  /* Set a maximum height */
  overflow-y: auto;
  /* Enable vertical scrolling */
  overflow-x: hidden;
  /* Hide horizontal overflow */
}


.scheduled_box {
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 4px 4px rgba(255, 255, 255, 0.25), inset 0px 0px 4px rgba(255, 255, 255, 0.25);
  border-radius: 5px;
  color: rgb(0, 0, 0);
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 15px;
  padding: 10px;
}

.scheduled-box .timing {
  margin-right: auto;

}

.scheduled-box .date {
  margin-left: auto;
}


.schedule_led {
  color: #FF5C00;
  margin-left: 30px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: 100;
}

.schedule_days {
  color: #FF5C00;
  margin-left: 30px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: 100;
  font-size: 10px;
}



.schedule_time {
  color: #3386FF;
  margin-left: 35px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: 100;
}

.datepicker {
  display: none;
  z-index: 1;
  background-color: #3F3F3F;
  border-radius: 5px;
  padding: 5px;
  font-size: 12px;
}


.delete_data {
  background-color: transparent;
}

/* ********running light lux css start********* */

.main_power_consumption_graph_div {
  width: 100%;
  overflow-x: auto;
  /* Enable horizontal scrolling */
  background-color: #ffffff;
  border-radius: 15px;
}

.main_power_consumption_graph_div::-webkit-scrollbar {
  height: 8px;
  /* Height for horizontal scrollbar */
}

.main_power_consumption_graph_div::-webkit-scrollbar-thumb {
  background-color: #90a5f1;
  border-radius: 10px;
  /* Optional: to make the scrollbar rounded */
}

.main_canvas_wrapper {
  width: 125%;
  /* Adjust this width as needed for your content */
}

.main_power_consumption_graph_main_div {
  height: 250px;
  /* Fixed height for the canvas */
  width: 100%;
  /* Ensure the canvas takes the full width of the wrapper */
}

.running_light_lux_main_div {
  background-color: #ffffff;
  border-radius: 15px;
  padding-left: 30px;
  padding-top: 30px;
}

.running_light_lux_input {

  border-radius: 5px;
  width: 150px;
  background-color: #DFE6FF;
  border-radius: 5px;
  color: #2b3674;
  font-weight: 600;
  border: none;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
}

#running_light_errorMessage {
  color: rgb(248, 70, 70);
  font-size: 14px;
  display: none;
}
/* ********running light lux css end********* */

#dateRangeContainer_running_light_graph_indv_1 {
  display: none;
  margin: 20px 0;
}

.timeSelect_css_running_light_graph_indv_1,
.timeSelect_button_css_running_light_graph_indv_1 {
  background-color: #DFE6FF;
  border-radius: 5px;
  color: #2b3674;
  font-weight: 600;
  border: none;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.startDateDisplay_css_running_light_graph_indv_1,
.endDateDisplay_css_running_light_graph_indv_1 {
  color: #2b3674;
  font-weight: 600;
}

.DateDisplay_css_running_light_graph_indv_1_div {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

.dateRangeContainer_dispalyDate_running_light_graph_indv_1 {
  display: flex;
  flex-direction: row;
  gap: 10px;
  flex-wrap: wrap;

}

.dateRangeContainer_css_running_light_graph_indv_1 {
  display: flex;
  flex-direction: row;
  gap: 20px;
  flex-wrap: wrap;
}

.timeSelect_graphSelect_css_running_light_graph_indv_1 {
  display: flex;
  justify-content: flex-end;
  gap: 20px;
  flex-wrap: wrap;
  padding-top: 10px;
  padding-bottom: 10px;
}

.dateRange_title_running_light_graph_indv_1 {
  color: #474f7d;
  font-weight: 500;
  font-weight: bold;

}

.active_run_idle_time_running_light_graph_indv_1 {
  display: flex;
  flex-direction: row;
  gap: 20px;
  flex-wrap: wrap;
  padding-top: 10px;
  padding-bottom: 10px;
}
.running_light_indidual_div {
  width: 220px;
  height: 330px;
  border: 2px solid #626c85;
  padding: 10px;
  border-radius: 16px;
  margin: 10px;
}
.running_light_body{
  overflow-x: hidden;
}
/* lux level css start*/
.running_light_start_end_div {
  background-color: #DFE6FF;
  border-radius: 5px;
  color: #2b3674;
  font-weight: 600;
  border: none;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.running_graph_lux_main_div {
  color: #474f7d;
  font-weight: 500;
  font-weight: bold;
}

.dateRangeContainer_css_running_light_line_graph {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.dateRangeContainer_css_running_light_line_graph {
  display: none;
}
.running_light_lux_main_heading {
  margin-left: 0px;
  color: #2b3674;
  font-weight: 700;
  font-size: larger;
  display: flex;
}
.running_light_today_set_date_div {
  display: flex;
  justify-content: flex-end;
}
/* lux level css end */
.running_start_end_date_main_div {
  display: flex;
  flex-direction: row;
  gap: 10px;

}
.running_graph_lux_weekdays_days{
  background-color: #DFE6FF;
  border-radius: 5px;
  color: #2b3674;
  font-weight: 600;
  border: none;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
}


/* hi_bay css */


.hi_bay_light_lux_main_div {
  background-color: #ffffff;
  border-radius: 15px;
  padding-left: 30px;
  padding-top: 30px;
}

.hi_bay_light_lux_input {

  border-radius: 5px;
  width: 150px;
  background-color: #DFE6FF;
  border-radius: 5px;
  color: #2b3674;
  font-weight: 600;
  border: none;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
}

#hi_bay_light_errorMessage {
  color: rgb(248, 70, 70);
  font-size: 14px;
  display: none;
}
/* ********hi_bay light lux css end********* */

#dateRangeContainer_hi_bay_light_graph_indv_1 {
  display: none;
  margin: 20px 0;
}

.timeSelect_css_hi_bay_light_graph_indv_1,
.timeSelect_button_css_hi_bay_light_graph_indv_1 {
  background-color: #DFE6FF;
  border-radius: 5px;
  color: #2b3674;
  font-weight: 600;
  border: none;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.startDateDisplay_css_hi_bay_light_graph_indv_1,
.endDateDisplay_css_hi_bay_light_graph_indv_1 {
  color: #2b3674;
  font-weight: 600;
}

.DateDisplay_css_hi_bay_light_graph_indv_1_div {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

.dateRangeContainer_dispalyDate_hi_bay_light_graph_indv_1 {
  display: flex;
  flex-direction: row;
  gap: 10px;
  flex-wrap: wrap;

}

.dateRangeContainer_css_hi_bay_light_graph_indv_1 {
  display: flex;
  flex-direction: row;
  gap: 20px;
  flex-wrap: wrap;
}

.timeSelect_graphSelect_css_hi_bay_light_graph_indv_1 {
  display: flex;
  justify-content: flex-end;
  gap: 20px;
  flex-wrap: wrap;
  padding-top: 10px;
  padding-bottom: 10px;
}

.dateRange_title_hi_bay_light_graph_indv_1 {
  color: #474f7d;
  font-weight: 500;
  font-weight: bold;

}

.active_run_idle_time_hi_bay_light_graph_indv_1 {
  display: flex;
  flex-direction: row;
  gap: 20px;
  flex-wrap: wrap;
  padding-top: 10px;
  padding-bottom: 10px;
}
.hi_bay_light_indidual_div {
  width: 220px;
  /* height: 330px; */
  border: 2px solid #626c85;
  padding: 10px;
  border-radius: 16px;
  margin: 10px;
}
.hi_bay_light_body{
  overflow-x: hidden;
}
/* lux level css start*/
.hi_bay_light_start_end_div {
  background-color: #DFE6FF;
  border-radius: 5px;
  color: #2b3674;
  font-weight: 600;
  border: none;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.hi_bay_graph_lux_main_div {
  color: #474f7d;
  font-weight: 500;
  font-weight: bold;
}

.dateRangeContainer_css_hi_bay_light_line_graph {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.dateRangeContainer_css_hi_bay_light_line_graph {
  display: none;
}
.hi_bay_light_lux_main_heading {
  margin-left: 0px;
  color: #2b3674;
  font-weight: 700;
  font-size: larger;
  display: flex;
}
.hi_bay_light_today_set_date_div {
  display: flex;
  justify-content: flex-end;
}
/* lux level css end */
.hi_bay_start_end_date_main_div {
  display: flex;
  flex-direction: row;
  gap: 10px;

}
.hi_bay_graph_lux_weekdays_days{
  background-color: #DFE6FF;
  border-radius: 5px;
  color: #2b3674;
  font-weight: 600;
  border: none;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
}
/* hibay css end */


.highbay_light_lux_main_div {
  background-color: #ffffff;
  border-radius: 15px;
  padding-left: 30px;
  padding-top: 30px;
}

.highbay_light_lux_main_heading {
  margin-left: 0px;
  color: #2b3674;
  font-weight: 700;
  font-size: larger;
  display: flex;
}

.highbay_graph_lux_main_div {
  color: #474f7d;
  font-weight: 500;
  font-weight: bold;
}

.highbay_light_today_set_date_div {
  display: flex;
  justify-content: flex-end;
}

.highbay_light_start_end_div {
  background-color: #DFE6FF;
  border-radius: 5px;
  color: #2b3674;
  font-weight: 600;
  border: none;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.dateRangeContainer_css_highbay_light_line_graph {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.dateRangeContainer_css_highbay_light_line_graph {
  display: none;
}

.highbay_light_start_end_div {
  background-color: #DFE6FF;
  border-radius: 5px;
  color: #2b3674;
  font-weight: 600;
  border: none;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.highbay_start_end_date_main_div {
  display: flex;
  flex-direction: row;
  gap: 10px;

}

.main_power_consumption_graph_div {
  width: 100%;
  overflow-x: auto;
  /* Enable horizontal scrolling */
  background-color: #ffffff;
  border-radius: 15px;
}

.main_power_consumption_graph_div::-webkit-scrollbar {
  height: 8px;
  /* Height for horizontal scrollbar */
}

.main_power_consumption_graph_div::-webkit-scrollbar-thumb {
  background-color: #90a5f1;
  border-radius: 10px;
  /* Optional: to make the scrollbar rounded */
}

.main_canvas_wrapper {
  width: 125%;
  /* Adjust this width as needed for your content */
}

.main_power_consumption_graph_main_div {
  height: 250px;
  /* Fixed height for the canvas */
  width: 100%;
  /* Ensure the canvas takes the full width of the wrapper */
}
