@import url('../font/dm_sans_font.css');

/* ================= GLOBAL ================= */
body {
    margin: 0;
    padding: 0;
    font-family: "DM Sans", sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: #f4f7fe;
}

.main_content {
    padding: 0 20px;
    margin-left: 164px;
}

@media (max-width: 768px) {
    .main_content {
        margin-left: 0;
    }
}

/* ================= COMMON ================= */
.temperature_dashboard_title{
    color: #2B3674;
    font-weight: 600;
    font-size: 25px;
    text-align: center;
    margin: auto;
}

.graph_main_heading {
    color: #2B3674;
    font-weight: 600;
    font-size: 25px;
}

.evoluzn_logo {
    height: 40px;
}

.dashboard_temp_min_max_main_div {
    display: flex;
    justify-content: space-between;
    gap: 15px;
    align-items: center;
    flex-wrap: wrap;

}

.temp_start_end_div {
    border-radius: 5px;
    color: #2b3674;
    font-weight: 600;
    border: 1px solid #B9B9B9;
    padding: 5px 10px;
}

.temp_annotation_div button,
.dateRangeContainer_css_temp_r_y_b button{
    background-color: #0069E1;
    color: white;
    border: none;
}

/* ================= EDIT PANEL ================= */
.control_panel_edit {
    display: none;
    height: 40px;
    padding: 5px;
    font-size: 1.2em;
    font-weight: bold;
    color: #2B3674;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.edit_name {
    background: none;
    border: none;
}

.apply_name {
    border: none;
    background-color: #2B3674;
    color: #fff;
    border-radius: 5px;
    padding: 5px 10px;
}

/* ================= CARDS ================= */
.temp_main_div,
.main_graph_div {
    background-color: #ffffff;

}

.temp_graph_level_indv_div {
    padding: 15px;
    border-radius: 15px;
    box-shadow: 0px 4px 10px #EBEBEB;
    border: 1px solid #474F7D;
}

/* ================= LUX GRID ================= */
.temp_graph_level {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 40px;
}

.temp_graph_level_title_img_main_div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.temp_graph_level_temp_value_div {
    font-weight: 700;
    font-size: 25px;
    color: #2B3674;
}

/* ================= GRAPH ================= */
.main_graph_div {
    width: 100%;
    overflow-x: auto;
}

.main_graph_div::-webkit-scrollbar {
    height: 8px;
}

.main_graph_div::-webkit-scrollbar-thumb {
    background-color: #90a5f1;
    border-radius: 10px;
}

.main_canvas_wrapper {
    width: 100%;
}

.main_graph_plot_div {
    height: 350px;
    width: 100%;
}

/* ================= DATE RANGE ================= */
.dateRangeContainer_css_temp_r_y_b {
    display: none;
    flex-direction: column;
    gap: 20px;
}

.temp_r_y_b_start_end_date_main_div {
    display: flex;
    gap: 10px;
    color: #2B3674;
    font-weight: 600;
}

/* ================= DASHBOARD TEMPERATURE SENSOR ================= */

.dashboard_temp_sensor_indv_div {
    height: fit-content;
    display: flex;
    flex-direction: column;
    transition: 0.3s;
    text-decoration: none;
    gap: 5px;
    background-color: #FFFFFF;
    box-shadow: 0px 4px 10px #EBEBEB;
    /* Soft drop shadow */
    border-radius: 13px;
}


.control_panel_edit {
    font-size: 1.5em;
    font-weight: bold;
    outline: none;
    color: #2B3674;
    border-radius: 5px;
    border: 1px solid #ccc;
    /* Adjust thickness and color */
    padding: 5px;
    /* Optional: Adjust padding for better appearance */
}


.dashboard_temp_R_title {
    color: #FF0000;
}

.dashboard_temp_Y_title {
    color: #FFCC00;
}

.dashboard_temp_B_title {
    color: #0084FF;
}

.dashboard_temp_N_title {
    color: #0a0a0a;
}

.dashboard_temp_min_max_main_div {
    display: flex;
    justify-content: space-between;
    gap: 15px;
    align-items: center;
    flex-wrap: wrap;

}

.dashboard_temp_min_div {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #405678;
}

.dashboard_temp_min_value_div {
    color: #4D60CD;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dashboard_temp_avg_value_div {
    font-size: 40px;
    font-weight: 700;
    color: #2B3674;
}

.dashboard_temp_max_div {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #405678;
}

.dashboard_temp_max_value_div {
    color: #4D60CD;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
}

.edit_name {
    background-color: transparent;
    border: none;
}

.apply_name {
    border: none;
    background-color: #2B3674;
    color: #ffffff;
    border-radius: 5px;
}

.temp_r_y_b_alert_box_div {
    border: 2px solid rgb(241, 98, 98);
    border-radius: 8px;
    min-width: 350px;

}

.temp_r_y_b_alert_box_title {
    color: rgb(241, 98, 98);
    font-weight: 600;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.temp_r_y_b_alert_box_description {
    color: #2b3674;
    font-weight: 500;
    font-size: 23px;
    display: hidden;
    justify-content: center;
    align-items: center;
}


/* ********************************* */
.temp_alert_box_main_div {
    overflow: auto;
    scrollbar-width: thin;
    scrollbar-color: #5c77d8 transparent;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.temp_alert_box_main_div::-webkit-scrollbar {
    height: 5px;
}

.temp_alert_box_main_div::-webkit-scrollbar-thumb {
    background-color: #5c77d8;
    border-radius: 10px;
}

.temp_alert_box_main_div::-webkit-scrollbar-track {
    background: transparent;
}

/* ********************************* */

.temp_alert_box_close {
    height: 30px;
    cursor: pointer;
}

.temp_alert_icon {
    height: 30px;

}

.temp_alert_time {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #919191;
    font-weight: 600;
}

.temp_annotation_div {
    display: flex;
    flex-direction: row;
    gap: 5px;
    flex-wrap: wrap;
}